body {
    padding-bottom: 1000px;
}

.about-us__content {
    width: 100%;
    min-width: 100%;
}

.about-us__content * {
    width: initial;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
    font-family: initial;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
    line-height: initial !important;
    white-space: initial;
    
    list-style-type: none;
    border: initial;
    border-radius: initial;
    outline: initial;
    color: initial;
    background-color: initial;
    box-shadow: initial;
    
    cursor: initial;
    appearance: initial;
}

.page h2 {
    margin: 0;
    
    font-size: initial;
    font-weight: initial;
}

.about-us__content button {
    display: inline-block;
}

.about-us__content button:hover {
    background-color: initial;
}

.page .about-us__content ul {
    padding: 0;
}

.page .about-us__content ul li {
    position: initial;
    
    padding: 0;
}

.page .about-us__content ul li::before {
    content: "";
    
    position: initial;
    top: auto;
    
    display: inline;
    width: auto;
    height: auto;
    margin-left: auto;
    
    font-weight: initial;
    font-size: initial;
    line-height: initial;

    color: initial;
}

/* ==========*******************************========= */

/* START БАННЕР ABOUT-US PAGE */
.about-us__banner {
    display: flex;
    width: 100%;
    height: 650px;
    padding-top: 96px;
    flex-direction: column;
    align-items: center;

    background-image: url('../i/about-us-banner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us__banner-logo {
    width: 256px;
    height: 135px;
}

.about-us__banner-logo-img {
    height: 100%;
    width: 100%;
    
    object-fit: contain;
    object-position: center;
}

.about-us__banner-text {
    width: 952px;
    margin-top: 48px;

    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;

    > span {
        font-family: 'Roboto Slab', serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        text-wrap: nowrap;

        color: #FFEA60;
    }
}

@media(max-width: 1537px) {
    .about-us__banner {
        width: 100%;
        height: 520px;
        padding-top: 76.8px;
    }
}

@media(max-width: 1537px) {
    .about-us__banner-logo {
        width: 205px;
        height: 108px;
    }
}

@media(max-width: 1537px) {
    .about-us__banner-text {
        width: 762px;
        margin-top: 38px;
    
        font-size: 32px;
    
        > span {
            font-size: 32px;
        }
    }
}

@media(max-width: 1024px) {
    .about-us__banner {
        display: block;
        height: 80vw;
        padding-top: 13.60vw;
    
        background-image: url('../i/about-us-banner_mobile.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
    }
}

@media(max-width: 1024px) {
    .about-us__banner-content {
        margin-left: 8.6%;
    }
}

@media(max-width: 1024px) {
    .about-us__banner-logo {
        width: 30.93vw;
        height: 16.27vw;
    }
}

@media(max-width: 1024px) {
    .about-us__banner-text {
        width: 74.13vw;
        margin-top: 4.53vw;
    
        font-size: 5.33vw;
    
        > span {
            font-size: 5.33vw;
        }
    }
}
/* END БАННЕР ABOUT-US PAGE */


/* START О НАС ABOUT-US PAGE */
.about-us__about {
    display: flex;
    width: 100%;
    padding-top: 47px;
    padding-bottom: 4.05%;
    flex-direction: column;
    align-items: center;

    border-radius: 0px 0px 50px 50px;
    background-color: rgba(255, 115, 45, 0.30);
    background-image: 
    url('../i/baloon-skel-with-clouds.svg'),
        url('../i/about-us-houses.svg')
    ;
    background-repeat: 
        no-repeat,
        no-repeat
    ;
    background-size: 
        22.08% auto,
        22.4% auto
    ;
    background-position: 
        left bottom,
        right 2.5% bottom
    ;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.about-us__about-title {
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 600;
    text-align: center;

    background: no-repeat linear-gradient(90deg, #F60 0%, #FF1572 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-us__about-list {
    display: flex;
    width: 963px;
    margin-top: 18px;
    margin-left: 2.1%;
    flex-direction: column;
    gap: 20px;
}

.about-us__about-text {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;

    color: #464646;
}

.about-us__about-clients {
    display: flex;
    width: 963px;
    margin-top: 42px;
    margin-left: 2.1%;
    flex-direction: column;
}

.about-us__about-clients > span {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;

    color: #464646;
}

.about-us__about-clients_bold {
    font-weight: 500;
}

.about-us__about-clients_text {
    width: 93%;
}

@media(max-width: 1756px) {
    .about-us__about {
        background-size: 
            19% auto,
            19% auto
        ;
    }
}

@media(max-width: 1537px) {
    .about-us__about {          
        border-radius: 0px 0px 40px 40px;
    }
}

@media(max-width: 1537px) {
    .about-us__about-title {
        font-size: 18px;
    }
}

@media(max-width: 1537px) {
    .about-us__about-list {
        width: 770px;
        margin-top: 14px;
        margin-left: 1.68%;
        gap: 16px;
    }
}

@media(max-width: 1537px) {
    .about-us__about-text {   
        font-size: 14px;
    }
}

@media(max-width: 1537px) {
    .about-us__about-clients {
        width: 770px;
        margin-top: 33px;
    }

    .about-us__about-clients > span {
        font-size: 14px;
    }
}

@media(max-width: 1537px) {
    .about-us__about-clients_text {
        width: 74.4%;
    }
}

@media(max-width: 1260px) {
    .about-us__about {          
        background-size: 
            17.5% auto,
            17.5% auto
        ;   
    }
}

@media(max-width: 1198px) {
    .about-us__about {
        background-image: none;
    }
}
/* -------------------- */
@media(max-width: 1024px) {
    .about-us__about {
        padding-top: 7.20vw;
        padding-bottom: 8.53vw;
    
        border-radius: 0px 0px 2.67vw 2.67vw;
        background-image: 
            url('../i/cloud-alone-white.svg'),
            url('../i/cloud-alone-white.svg')
        ;
        background-repeat: 
            no-repeat,
            no-repeat
        ;
        background-size: 
            9.5% auto,
            6.7% auto
        ;
        background-position: 
            right 16.8% bottom 2.2%,
            right 12% bottom 5.5%
        ;
        box-shadow: 0px 0px 1.60vw 0px rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 1024px) {
    .about-us__about-title {
        font-size: 6.40vw;
    }
}

@media(max-width: 1024px) {
    .about-us__about-list {
        width: 88.77%;
        margin-top: 2.93vw;
        margin-left: 0;
        gap: 4vw;
    }
}
@media(max-width: 1024px) {
    .about-us__about-text {    
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .about-us__about-item:last-child {
        width: 87%;
    }
}

@media(max-width: 1024px) {
    .about-us__about-clients {
        display: none;
    }
}
/* END О НАС ABOUT-US PAGE */


/* START ЦЕННОСТИ КОМПАНИИ ABOUT-US PAGE */
.about-us__values {
    display: flex;
    padding-top: 92px;
    justify-content: center;
}

.about-us__values-content {
    display: grid;
    width: fit-content;
    grid-template-columns: min-content min-content;
    grid-template-rows: repeat(10, min-content);
    column-gap: 25px;
}

.about-us__values-header {
    position: relative;

    display: grid;
    width: 289px;
    height: 41px;
    grid-row: 1;
    grid-column: 1;
    place-items: center;

    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 800;
    
    color: #FFF;
    background-color: #FF732D;
}

.about-us__values-header::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: #fff;

    transform: translate(-50%, -50%);
}

.about-us__values-header::after {
    content: "";

    position: absolute;
    right: 0;
    top: 50%;

    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: #fff;

    transform: translate(50%, -50%);
}

.about-us__values-list {
    margin-top: 11px;
    grid-row: 2;
    grid-column: 1;
}

.about-us__values-item {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;

    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-us__values-item::before {
    content: "";

    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 16px;
    margin-bottom: 3px;

    vertical-align: middle;

    background-color: #FF6304;
    border-radius: 50%;
}

.about-us__values-article {
    width: 544px;
    grid-row: 3 / 11;
    grid-column: 1;
    align-content: end;

    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;

    color: #464646;
}

.about-us__values-img {
    width: 716px;
    height: 367px;
    grid-row: 1/11;
    grid-column: 2;

    background: no-repeat url('../i/about-us-values.webp');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 123px 104px 45px 0px rgba(0, 0, 0, 0.00), 79px 67px 41px 0px rgba(0, 0, 0, 0.01), 44px 38px 35px 0px rgba(0, 0, 0, 0.05), 20px 17px 26px 0px rgba(0, 0, 0, 0.09), 5px 4px 14px 0px rgba(0, 0, 0, 0.10);
}

@media(max-width: 1440px) {
    .about-us__values {
        padding-top: 65px;
    }
}

@media(max-width: 1440px) {
    .about-us__values-content {
        column-gap: 18px;
    }
}

@media(max-width: 1440px) {
    .about-us__values-header {
        width: 202px;
        height: 29px;
    
        font-size: 17px;
    }
}

@media(max-width: 1440px) {
    .about-us__values-header::before {    
        width: 11px;
        height: 11px;
    }
}

@media(max-width: 1440px) {
    .about-us__values-header::after {
        width: 11px;
        height: 11px;
    }
}

@media(max-width: 1440px) {
    .about-us__values-list {
        margin-top: 8px;
    }
}

@media(max-width: 1440px) {
    .about-us__values-item {
        font-size: 17px;
    }
}

@media(max-width: 1440px) {
    .about-us__values-item::before {
        width: 4px;
        height: 4px;
        margin-right: 11px;
        margin-bottom: 2px;
    }
}

@media(max-width: 1440px) {
    .about-us__values-article {
        width: 381px;
        
        font-size: 17px;
    }
}

@media(max-width: 1440px) {
    .about-us__values-img {
        width: 501px;
        height: 257px;
    
        border-radius: 6px;
    }
}

@media(max-width: 1024px) {
    .about-us__values {
        display: block;
        padding-top: 11.73vw;
    }
}

@media(max-width: 1024px) {
    .about-us__values-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 1024px) {
    .about-us__values-header {
        width: 77.05%;
        height: 10.93vw;
        font-size: 6.40vw;
    }

    .about-us__values-header::before {
        width: 4.27vw;
        height: 4.27vw;
    }
    .about-us__values-header::after {
        width: 4.27vw;
        height: 4.27vw;
    }
}

@media(max-width: 1024px) {
    .about-us__values-list {
        width: 89.15%;
        margin-top: 5.60vw;
    }
}

@media(max-width: 1024px) {
    .about-us__values-item {
        font-size: 5.33vw;
    }

    .about-us__values-item::before {
        height: 1.07vw;
        width: 1.07vw;
        margin-right: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .about-us__values-article {
        width: 89.15%;
        margin-top: 3.73vw;

        font-size: 4.80vw;
    }
}

@media(max-width: 1024px) {
    .about-us__values-img {
        width: 100%;
        height: 80vw;
        margin-top: 8.80vw;

        background-image: url('../i/about-us-values-mobile.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 2.13vw;
        box-shadow: 123px 104px 45px 0px rgba(0, 0, 0, 0.00), 79px 67px 41px 0px rgba(0, 0, 0, 0.01), 44px 38px 35px 0px rgba(0, 0, 0, 0.05), 20px 17px 26px 0px rgba(0, 0, 0, 0.09), 5px 4px 14px 0px rgba(0, 0, 0, 0.10);
    }
}
/* END ЦЕННОСТИ КОМПАНИИ ABOUT-US PAGE */


/* START ЦЕННОСТИ КОМПАНИИ ABOUT-US PAGE */
.about-us__offer {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
}

.about-us__offer-title {
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 600;
    text-align: center;

    background: no-repeat linear-gradient(90deg, #F60 0%, #FF1572 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-us__offer-list {
    display: flex;
    margin-top: 26px;
    width: 69%;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 25px;
}

.about-us__offer-item {
    width: 211px;
}

.about-us__offer-circle {
    display: grid;
    width: 142px;
    height: 142px;
    margin: 0 auto;
    place-items: center;

    border: 6px solid #E3E3E3;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us__offer_bus {
    background-image: url('../i/about-us-offer-bus.svg');
    background-size: 74% auto;
}

.about-us__offer_kremlin {
    background-image: url('../i/about-us-offer-kremlin.svg');
    background-size: 70.5% auto;
}

.about-us__offer_map {
    background-image: url('../i/about-us-offer-map.svg');
    background-size: 87.5% auto;
}

.about-us__offer_flight {
    background-image: url('../i/about-us-offer-flight.svg');
    background-size: 68.1% auto;
}

.about-us__offer_ship {
    background-image: url('../i/about-us-offer-ship.svg');
    background-size: 61.5% auto;
}

.about-us__offer_mountain {
    background-image: url('../i/about-us-offer-mountains.svg');
    background-size: 68.5% auto;
}

.about-us__offer_beach {
    background-image: url('../i/about-us-offer-beach.svg');
    background-size: 58.5% auto;
}

.about-us__offer-text {
    margin-top: 6px;

    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    text-align: center;

    color: #5A5D62;
}

@media(max-width: 1024px) {
    .about-us__offer {
        padding-top: 11.73vw;
    }
}

@media(max-width: 1024px) {
    .about-us__offer-title {
        font-size: 6.40vw;
    }
}

@media(max-width: 1024px) {
    .about-us__offer-list {
        margin-top: 5.87vw;
    }
}

@media(max-width: 1024px) {
    .about-us__offer-list {
        width: 100%;
        column-gap: 3.5vw;
        row-gap: 10.67vw;
    }
}

@media(max-width: 1024px) {
    .about-us__offer-item {
        width: 30%;
    }
}

@media(max-width: 1024px) {
    .about-us__offer-circle {
        width: 21.87vw;
        height: 21.87vw;
    
        border: 0.80vw solid #E3E3E3;
    }
}

@media(max-width: 1024px) {
    .about-us__offer_bus {
        background-size: 74% auto;
    }
}

@media(max-width: 1024px) {
    .about-us__offer_kremlin {
        background-size: 70.5% auto;
    }
}

@media(max-width: 1024px) {
    .about-us__offer_map {
        background-size: 87.5% auto;
    }
}

@media(max-width: 1024px) {
    .about-us__offer_flight {
        background-size: 68.1% auto;
    }
}

@media(max-width: 1024px) {
    .about-us__offer_ship {
        background-size: 61.5% auto;
    }
}

@media(max-width: 1024px) {
    .about-us__offer_mountain {
        background-size: 68.5% auto;
    }
}

@media(max-width: 1024px) {
    .about-us__offer_beach {
        background-size: 58.5% auto;
    }
}

@media(max-width: 1024px) {
    .about-us__offer-text {
        margin-top: 1.87vw;
    
        font-size: 3.20vw;
    } 
}

/* END ЦЕННОСТИ КОМПАНИИ ABOUT-US PAGE */

/* START GRAY LINE ABOUT-US PAGE */
.about-us__line {
    width: 54.384%;
    height: 2px;
    margin: 50px auto 0;

    border-radius: 8px;
    background: #D9D9D9;
}

@media(max-width: 1600px) {
    .about-us__line {
        width: 63%;
    }
}

@media(max-width: 1366px) {
    .about-us__line {
        width: 75%;
    }
}

@media(max-width: 1024px) {
    .about-us__line {
        width: 89.34%;
        height: 2px;
        margin: 7.73vw auto 0;
    
        border-radius: 8px;
        background: #D9D9D9;
    }
}
/* END GRAY LINE ABOUT-US PAGE */


/* START STAMP ABOUT-US PAGE */
.about-us__rut {
    display: flex;
    margin-top: 32px;
    column-gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-us__rut-stamp {
    width: 167px;
    height: 167px;
}

.about-us__rut-stamp-img {
    height: 100%;
    width: 100%;
    
    object-fit: contain;
    object-position: center;
}

.about-us__rut-text {
    border-left: 3px solid #FF732D;;
}

.about-us__rut-text > p {
    width: 640px;
    margin-left: 8px;

    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;

    color: #464646;
}

@media(max-width: 1024px) {
    .about-us__rut {
        margin-top: 3.20vw;
        column-gap: 0;
        row-gap: 2.9vw;
        flex-direction: column;
        justify-content: initial;
    }
    
    .about-us__rut-stamp {
        width: 30.93vw;
        height: 30.93vw;
    }
    
    .about-us__rut-text {
        width: 89.33vw;
    }

    .about-us__rut-text > p {
        width: 100%;
        margin-left: 11px;
    
        font-size: 3.73vw;
    }
}
/* END STAMP ABOUT-US PAGE */


/* START BIG MAP ABOUT-US PAGE */
.about-us__big-map {
    width: 1133px;
    height: 649px;
    margin: 16px auto 0;
    padding-top: 13px;
    padding-left: 137px;

    background-image: url('../i/about-us-big-map.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.about-us__big-map-title {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;

    color: #464646;
}

.about-us__big-map-text {
    width: 726px;
    margin-top: 7px;

    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;

    color: #464646;
}

@media(max-width: 1366px) {
    .about-us__big-map {
        width: 963px;
        height: 551px;
        margin: 16px auto 0;
        padding-top: 13px;
        padding-left: 90px;
    }
}

@media(max-width: 1366px) {
    .about-us__big-map-title {
        font-size: 18px;
    }
}

@media(max-width: 1366px) {
    .about-us__big-map-text {
        width: 673px;

        font-size: 18px;
    }
}

@media(max-width: 1024px) {
    .about-us__big-map {
        width: 100%;
        height: 100.63vw;
        margin: 6.67vw auto 0;
        padding-top: 0.5vw;
        padding-left: 0;
    
        background-image: url('../i/about-us-big-map-mobile.svg');
        background-repeat: no-repeat;
        background-size: auto 94.2%;
        background-position: left bottom;
    }
}

@media(max-width: 1024px) {
    .about-us__big-map-title {
        width: 89.33vw;
        margin: 0 auto;

        font-size: 4.80vw;
    }
}

@media(max-width: 1024px) {
    .about-us__big-map-text {
        width: 89.33vw;
        margin: 2.27vw auto 0;
    
        font-size: 4.27vw;
    }
}
/* END BIG MAP ABOUT-US PAGE */

/* START CONSOLIDATORS ABOUT-US PAGE */
.about-us__cons {
    display: flex;
    margin: 101px auto 0;
    flex-direction: column;
    align-items: center;
}

.about-us__cons-line {
    display: flex;
}

.about-us__cons-line-top {
    gap: 125px;
}

.about-us__cons-icon {
    width: 160px;
    height: 160px;
}

.about-us__cons-line-top > .about-us__cons-icon {
    margin-top: 4px;
}

.about-us__cons-icon-road {
    background-image: url('../i/about-us-offer-cons-road.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.about-us__cons-title {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 500;
    text-wrap: nowrap;
    text-align: center;

    color: #464646;
}

.about-us__cons-text {
    display: flex;
    flex-direction: column;
}

.about-us__cons-text > span {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 400;
    text-wrap: nowrap;
    text-align: center;
    
    color: #464646;
}

.about-us__cons-icon-sibir {
    background-image: url('../i/about-us-offer-cons-sibir.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.about-us__cons-line-bottom {
    gap: 209px;
}

.about-us__cons-icon-belogorie {
    background-image: url('../i/about-us-offer-cons-belogorie.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.about-us__cons-icon-tver {
    background-image: url('../i/about-us-offer-cons-tver-area.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media(max-width: 1366px) {
    .about-us__cons-line-top {
        gap: 69px;
    }

    .about-us__cons-line-bottom {
        gap: 132px;
    }
}

@media(max-width: 1024px) {
    .about-us__cons {
        margin: 8vw auto 0;
    }
    
    .about-us__cons-line-top {
        gap: 0;
    }
    
    .about-us__cons-icon {
        width: 21.33vw;
        height: 21.33vw;
    }
    
    .about-us__cons-line-top > .about-us__cons-icon {
        margin-top: 0;

        translate: 0 11vw;
    }

    .about-us__cons-icon-road {
        margin-right: -2.3vw;
    }
    
    .about-us__cons-title {
        font-size: 5.33vw;
    }
    
    .about-us__cons-text > span {
        font-size: 4.27vw;
    }

    .about-us__cons-icon-sibir {
        margin-left: -2.3vw;
    }
    
    .about-us__cons-line-bottom {
        margin-top: 3vw;
        gap: 2.13vw;
    }
}
/* END CONSOLIDATORS ABOUT-US PAGE */


/* START SUBSCRIBTION ABOUT-US PAGE */
.about-us__wr-subscr {
    display: flex;
    padding-top: 124px;
    padding-bottom: 45px;
    flex-direction: column;
    align-items: center;

    border-radius: 50px;
    background: rgba(255, 115, 45, 0.30);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.about-us__thank {
    position: relative;

    width: 701px;
    height: 284px;
    padding-top: 50px;

    background-image: url('../i/about-us-thank-back.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.about-us__thank::before {
    content: url('../i/about-us-thank-back.svg');

    position: absolute;
    top: -2%;
    left: -1.5%;

    width: 100%;


}

.about-us__thank-title {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 500;

    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-us__thank-title_mobile {
    display: none;

    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-us__thank-text {
    position: relative;

    display: flex;
    margin-top: 17px;
    flex-direction: column;
    align-items: center;
}

.about-us__thank-text > span {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: 1.6 !important;

    color: #464646;
}

.about-us__subscr {
    display: flex;
    justify-content: center;
}

.about-us__subscr-wr-content {
    width: 1920px;
    margin-top: 71px;
}
/* END SUBSCRIBTION ABOUT-US PAGE */