.for-agency * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
    font-family: initial;
    font-size: initial;
    font-weight: initial;
    text-align: start;
    line-height: initial !important;
    white-space: initial;
    
    list-style-type: none;
    border: initial;
    border-radius: initial;
    outline: initial;
    color: initial;
    background-color: initial;
    box-shadow: initial;
    
    cursor: initial;
    appearance: auto;
}

input:focus, textarea:focus {
    outline: 0;
}

/* =========================== */
.main__agency-registration {
    display: flex;
    padding-top: 75px;
    padding-bottom: 74px;

    flex-direction: column;
    align-items: center;
}

/* START ЗАГОЛОВОК */
.agent-reg__head {
    display: grid;
    width: 100%;
    grid-template-columns: 19.2% 1fr 19.2%;
    align-items: center;
}

.agent-reg__head-back {
    justify-self: end;
}

.agent-reg__head-back > svg {
    width: 19px; 
    height: 34px;
}

.agent-reg__main-title {
    font-family: 'Roboto';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #F60;
}
/* END ЗАГОЛОВОК */


/* START УВАЖАЕМЫЕ КОЛЛЕГИ */
.agent-reg__appeal {
    display: grid;
    place-items: center;
    width: 100%;
    height: 486px;
    margin-top: 33px;

    border-radius: 50px;
    background: rgba(255, 115, 45, 0.30);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);

}

.agent-reg__appeal-content {
    width: 701px;
    height: 376px;

    background: no-repeat url('../i/agency-registration-back-appeal.svg');
    background-size: contain;
    background-position: center;
    filter: drop-shadow(3px 3px 6px rgba(70, 70, 70, 0.3));
}

.agent-reg__appeal-title {
    margin-top: 35px;

    font-family: 'Roboto';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.agent-reg__appeal-wr-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    margin-top: 22px;
}

.agent-reg__appeal-text {
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.49;
    text-align: center;

    color: #7B7B7B;
}

.agent-reg__appeal-text > span {
    display: inline-block;
    width: 71%;

    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #7B7B7B;
}
/* END УВАЖАЕМЫЕ КОЛЛЕГИ */

/* START КОНТАКТЫ */
.agent-reg__contacts {
    display: none;
}
/* END КОНТАКТЫ */

/* START FORM */
.agent-reg__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.agent-reg__form-title {
    font-family: 'Roboto';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #7B7B7B;
}

.agent-reg__input-text-list {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
}

.agent-reg__input-text-label {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.agent-reg__input-text-title {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #828282;
}

.agent-reg__input-text-title::after {
    content: "*";

    display: inline-block;

    color: #F00;

    transform: translate(0, -25%);
}

.agent-reg__input-text {
    width: 600px;
    height: 50px;
    padding-left: 30px;
    padding-right: 20px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
    color: #828282;
    border-radius: 50px;
    border: 1px solid #828282;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.agent-reg__taxation {
    width: 600px;
    margin-top: 40px;
}

.agent-reg__radio-title {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    color: #5A5D62;
}

.agent-reg__taxation-wr-radio {
    display: grid;
    grid-template-columns: 102px 1fr;
}

.agent-reg__wr-radio {
    margin-top: 27px;
}

.agent-reg__radio-label {
    display: flex;
    align-items: center;
    gap: 9px;

    cursor: pointer;
}

input[type="radio"] {
    height: fit-content;
    width: fit-content;
    padding: 4px;
    
    outline: 1px solid light-dark( rgba(255, 102, 0, 1), rgba(255, 21, 114, 1));
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

input[type="radio"]:checked {
    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
}

.agent-reg__radio-label > span {
    display: inline-block;
    margin-top: 1px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 0.7;

    color: #5A5D62;
}

.agent-reg__nds {
    width: 600px;
    margin-top: 32px;
}

.agent-reg__nds-wr-radio {
    display: grid;
    grid-template-columns: repeat(4, 102px);
}

.agent-reg__form-menedger-title {
    margin-top: 40px;
}

.agent-reg__form-where-title {
    margin-top: 32px;
}

.agent-reg__form-where-description {
    margin-top: 4px;
}

.agent-reg__form-where-description > span {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;

    color: #7B7B7B;
}

.agent-reg__form-where-description > span:last-child {
    display: block;
    width: 100%;
}

.agent-reg__add-address {
    margin-top: 30px;
}

.agent-reg__add-address-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 50px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
    color: #5A5D62;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #FF732D;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.agent-reg__add-address-button:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
}

.agent-reg__add-address-button:active {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
}

.agent-reg__add-address-button::before {
    content: "+";

    margin-right: 3px;

    font-weight: 700;
}

.agent-reg__comment {
    margin-top: 20px;
}

.agent-reg__comment-label {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.agent-reg__comment-title {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #828282;
}

.agent-reg__comment-area {
    width: 600px;
    height: 180px;
    padding-top: 29px;
    padding-right: 20px;
    padding-bottom: 29px;
    padding-left: 30px;
    resize: none;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #828282;

    border-radius: 30px;
    border: 1px solid #828282;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.agent-reg__agree {
    display: flex;
    margin-left: 8px;
    flex-direction: column;
    margin-top: 17px;
    gap: 23px;
}

.agent-reg__agree-label {
    display: flex;
    align-items: center;
    gap: 14px;

    cursor: pointer;
}

input[type="checkbox"] {
    height: fit-content;
    width: fit-content;
    padding: 4px;

    outline: 1px solid light-dark( rgba(255, 102, 0, 1), rgba(255, 21, 114, 1));
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
}

.agent-reg__agree-title {    
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;

    color: #5A5D62;
}

.agent-reg__agree-subscribtion-title {
    margin-top: 1px;

    line-height: 0.7;
}

.agent-reg__agree-person-title::after {
    content: "*";

    display: inline-block;

    color: #F00;

    transform: translate(0, -25%);
}

.agent-reg__send {
    margin-top: 33px;
}

.agent-reg__send-button {
    width: 250px;
    height: 50px;
    
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
    color: #FFF;
    border: 0;
    outline: none;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.agent-reg__send-button:hover {
    background-color: #ed5f00;
}
.agent-reg__send-button:active {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}
/* END FORM */


/* START ATTENTION */
.agent-reg__attention {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 31px;
    padding: 0 40px;
}

.agent-reg__attention-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1208px;
    padding: 37px 83px 77px;

    border-radius: 10px;
    background: #F2F2F2;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.agent-reg__attention-icon {
    width: 40px;
    height: 40px;

    background: no-repeat url('../i/attention-icon.svg');
    background-size: contain;
    background-position: center;
}

.agent-reg__attention-title {
    margin-top: 9px;

    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: center;

    color: #242424;
}

.agent-reg__attention-list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 19px;

    border-left: 5px solid #D0D0D0;
}

.agent-reg__attention-item {
    padding-left: 12px;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.agent-reg__attention-item > a {
    font-weight: 500;

    text-decoration: underline;
    color:#FF732D;
}
/* END ATTENTION */

/* START STIKY */
.stiky {
    position: fixed;
    top: 32%;
    right: -250px;

    display: flex;

    border-radius: 8px 0px 0px 8px;
    background: #FF732D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    transition: right 0.3s linear;
}

.stiky[open] {
    right: 0;
}

.stiky:target {
    right: 0;
}

.stiky__label {
    padding: 11px 12px 0 25px;

    cursor: pointer;
}

.stiky__label-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    
    background-color: #FFF;
    -webkit-mask-image: url('../i/icon-notebook-contacts.svg');
    mask-image: url('../i/icon-notebook-contacts.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.stiky__label-text {
    margin-top: 4px;
    
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    
    color: #FFF;
}

.stiky__delimeter-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.stiky__delimeter-item {
    height: 10px;
    width: 10px;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.5);
}

.stiky__contacts {
    padding-top: 6px;
    padding-right: 45px;
    padding-left: 27px;
}

.stiky__name {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;

    color: #FFF;
}

.stiky__position {
    margin-top: 3px;

    font-family: 'Roboto';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;
}

.stiky__phone {
    margin-top: 11px;
}

.stiky__link {
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;
    text-decoration: none;
}

.stiky__link::before {
    content: "";

    width: 15px;
    height: 15px;

    background-color: #fff;
}

.stiky__link_phone::before {
    -webkit-mask-image: url('../i/icon-phone.svg');
    mask-image: url('../i/icon-phone.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.stiky__email {
    margin-top: 9px;
}

.stiky__link_email::before {
    -webkit-mask-image: url('../i/icon-email.svg');
    mask-image: url('../i/icon-email.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
/* END STIKY */

@media(max-width: 1024px) {
    .main__agency-registration {
        padding-top: 7.47vw;
        padding-bottom: 23.7vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__head {
        grid-template-columns: 10.2% 1fr 10.2%;
        align-items: initial;
    }
}

@media(max-width: 1024px) {   
    .agent-reg__head-back {
        padding-top: 0.6vw;
    }

    .agent-reg__head-back > svg {
        width: 2.93vw;
        height: 5.60vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__main-title {
        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__appeal {
        height: 77.60vw;
        margin-top: 3.20vw;

        border-radius: 8.80vw;
        box-shadow: none;
    }
}

@media(max-width: 1024px) {
    .agent-reg__appeal-content {
        width: 94.40vw;
        height: 55.20vw;

        border-radius: 2.13vw;
        background: no-repeat url('../i/agency-registration-back-appeal-mobile.svg');
        background-size: contain;
        background-position: center;
        filter: drop-shadow(0.80vw 0.80vw 1.60vw rgba(70, 70, 70, 0.3));
    }
}

@media(max-width: 1024px) {
    .agent-reg__appeal-title {
        margin-top: 3.5vw;

        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__appeal-wr-text {
        margin-top: 2.43vw;
        gap: 2.17vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__appeal-text {
        font-size: 3.47vw;
        font-weight: 400;
        line-height: 1.4;
    }
    
    .agent-reg__appeal-text > span {
        font-size: 3.47vw;
        font-weight: 400;
    }
}

@media(max-width: 1024px) {
    .agent-reg__contacts {
        display: grid;
        grid-template-columns: 3.73vw 1fr;
        grid-template-rows: min-content min-content;
        width: 90.13vw;
        margin-top: 5.07vw;
    }
}

@media(max-width: 1024px) {
    #agent-reg__contacts-title {
        display: none;
    }
}

@media(max-width: 1024px) {
    .agent-reg__contacts-title {
        display: flex;
        gap: 4vw;
        grid-row: 1;
        grid-column: 1 / 3;

        font-family: 'Roboto';
        font-size: 5.33vw;
        font-style: normal;
        font-weight: 600;

        color: #5A5D62;
    }

    .agent-reg__contacts-title::before {
        content: "";

        height: 2.13vw;
        width: 3.73vw;
        align-self: center;

        background: no-repeat url('../i/arrow-vertical-opener.svg');
        background-size: contain;
        background-position: center;

        transition: transform 0.3s linear;
    }

    #agent-reg__contacts-title:checked ~ .agent-reg__contacts-title::before {
        transform: rotate(-180deg);
    }
}

@media(max-width: 1024px) {
    .agent-reg__contacts-wrapper {
        margin-top: 2.97vw;
        grid-row: 2;
        grid-column: 2;

        overflow: hidden;
    }

    .agent-reg__contacts-data {
        margin-top: -50%;
        margin-bottom: 0;

        transition: margin-top 0.3s linear, margin-bottom 0.3s linear;
    }

    #agent-reg__contacts-title:checked 
        ~ .agent-reg__contacts-wrapper > .agent-reg__contacts-data {
            margin-top: 0;
            margin-bottom: 4.3vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__contacts-name {
        font-family: 'Roboto';
        font-size: 4.27vw;
        font-style: normal;
        font-weight: 700;

        color: #5A5D62;
    }
}

@media(max-width: 1024px) {
    .agent-reg__contacts-position {
        margin-top: 0.6vw;

        font-family: 'Roboto';
        font-size: 3.73vw;
        font-style: normal;
        font-weight: 400;

        color: #5A5D62;
    }
}

@media(max-width: 1024px) {
    .agent-reg__contacts-phone {
        margin-top: 2.9vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__contacts-link {
        display: flex;
        align-items: center;
        gap: 2.67vw;

        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;

        color: #5A5D62;
        text-decoration: none;
    }

    .agent-reg__contacts-link::before {
        content: "";

        height: 5.33vw;
        width: 5.33vw;

        background-color: #5A5D62;
    }
}

@media(max-width: 1024px) {
    .agent-reg__contacts-link_phone::before {
        -webkit-mask-image: url('../i/icon-phone.svg');
        mask-image: url('../i/icon-phone.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }
}

@media(max-width: 1024px) {
    .agent-reg__contacts-email {
        margin-top: 2.9vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__contacts-link_email::before {
        -webkit-mask-image: url('../i/icon-email.svg');
        mask-image: url('../i/icon-email.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }
}

@media(max-width: 1024px) {
    .agent-reg__form {
        margin-top: 5vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__form-title {
        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__input-text-list {
        margin-top: 6.67vw;
        gap: 2.67vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__input-text-label {
        gap: 2.67vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__input-text-title {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__input-text {
        width: 90.13vw;
        height: 10.67vw;
        padding-left: 5.33vw;
        padding-right: 5.33vw;

        font-size: 3.73vw;

        border-radius: 13.33vw;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 1024px) {
    .agent-reg__taxation {
        width: 90.13vw;
        margin-top: 11.20vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__radio-title {
        font-size: 3.95vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__wr-radio {
        margin-top: 7.83vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__taxation-wr-radio {
        grid-template-columns: 23.6vw 1fr;
    }
}

@media(max-width: 1024px) {
    .agent-reg__radio-label {
        gap: 2.13vw;
    }
}

@media(max-width: 1024px) {
    input[type="radio"] {
        padding: 1.07vw;

        border: 0.80vw solid rgba(255, 255, 255, 1);
    }
}

@media(max-width: 1024px) {
    .agent-reg__radio-label > span {
        margin-top: 0.80vw;

        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__nds {
        width: 90.13vw;
        margin-top: 9.33vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__nds-wr-radio {
        grid-template-columns: repeat(4, 23.6vw);
    }
}

@media(max-width: 1024px) {
    .agent-reg__form-menedger-title {
        width: 64%;
        margin-top: 10.67vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__form-where-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3vw;

        font-size: 3.73vw;
    }

    .agent-reg__form-where-description > span {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__add-address {
        margin-top: 12.9vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__add-address-button {
        width: 66.67vw;
        height: 10.67vw;

        font-size: 3.73vw;

        border-radius: 6.67vw;
        box-shadow: 0px 0px 1.87vw 0.53vw rgba(0, 0, 0, 0.25);
    }

    .agent-reg__add-address-button::before {
        margin-right: 0.80vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__comment {
        margin-top: 11.1vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__comment-label {
        gap: 2.67vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__comment-title {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__comment-area {
        width: 90.13vw;
        height: 48vw;
        padding-top: 6.40vw;
        padding-right: 5.33vw;
        padding-bottom: 6.40vw;
        padding-left: 5.33vw;

        font-size: 3.73vw;

        border-radius: 8vw;
        box-shadow: 0px 0px 1.33vw 0.27vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 1024px) {
    .agent-reg__agree {
        width: 96.4vw;
        margin-top: 4.53vw;
        margin-left: 0;
        gap: 6.9vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__agree-label {
        gap: 4vw;
    }
}

@media(max-width: 1024px) {
    input[type="checkbox"] {
        padding: 1.07vw;
        border: 0.80vw solid rgba(255, 255, 255, 1);
    }

    .agent-reg__agree-box_person {
        align-self: start;
        margin-top: 2.7vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__agree-title {
        font-size: 3.73vw;
    }
}
@media(max-width: 1024px) {
    .agent-reg__agree-person-title {
        width: 86%;
    }
}

@media(max-width: 1024px) {
    .agent-reg__agree-subscribtion-title {
        margin-top: 0.80vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__send {
        margin-top: 9.2vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__send-button {
        width: 66.67vw;
        height: 10.67vw;

        font-size: 3.73vw;

        border-radius: 6.67vw;
        box-shadow: 0px 0px 1.87vw 0.53vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 1024px) {
    .agent-reg__attention {
        margin-top: 13.1vw;
        padding: 0;
    }
}

@media(max-width: 1024px) {
    .agent-reg__attention-content {
        width: 100%;
        padding: 5.6vw 5.3vw 6.7vw;

        border-radius: 2.67vw;
        box-shadow: 0px 0px 1.60vw 0px rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 1024px) {
    .agent-reg__attention-icon {
        height: 10.67vw;
        width: 10.67vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__attention-title {
        margin-top: 2.40vw;

        font-size: 4.80vw;
    }
}

@media(max-width: 1024px) {
    .agent-reg__attention-list {
        margin-top: 4vw;
        gap: 5.07vw;
        border-left: 0 solid #D0D0D0;
    }
}

@media(max-width: 1024px) {
    .agent-reg__attention-item {
        padding-left: 0;

        font-size: 4.27vw;
    }
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    .stiky {
        display: none;
    }
}