.about-us__content {
    width: 100%;
    min-width: 100%;
    padding-bottom: 64px;
}

.about-us__content * {
    width: initial;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
    font-family: initial;
    font-size: initial;
    font-weight: initial;
    text-align: start;
    line-height: initial !important;
    white-space: initial;
    
    list-style-type: none;
    border: initial;
    border-radius: initial;
    outline: initial;
    color: initial;
    background-color: initial;
    box-shadow: initial;
    
    cursor: initial;
    appearance: auto;
}

.page h2 {
    margin: 0;
    
    font-size: initial;
    font-weight: initial;
}

.about-us__content button {
    display: inline-block;
}

.about-us__content button:hover {
    background-color: initial;
}

.page .about-us__content ul {
    padding: 0;
}

.page .about-us__content ul li {
    position: initial;
    
    padding: 0;
}

.page .about-us__content ul li::before {
    content: "";
    
    position: initial;
    top: auto;
    
    display: inline;
    width: auto;
    height: auto;
    margin-left: auto;
    
    font-weight: initial;
    font-size: initial;
    line-height: initial;

    color: initial;
}

input:focus, textarea:focus {
    outline: 0;
}

/* ==========*******************************========= */

.contacts {
    display: flex;
    padding-top: 78px;
    padding-right: 35px;
    padding-bottom: 139px;
    padding-left: 35px;
    justify-content: center;
}

.contacts__wrapper {
    width: 1210px;
}

/* MAIN TITLE */
.contacts__title {
    font-family: 'Roboto';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #F60;
}
/* END MAIN TITLE */

/* START CONTACTS DATA MOSKOW */
.contacts__list_moskow {
    margin-top: 21px;
}

.contacts__list {
    display: grid;
    grid-template-columns: 1fr min-content 1fr min-content 1fr;
}

.contacts__item {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.contacts__list-title {
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    color: #F60;
}

.contacts__data-item-address {
    display: flex;
    gap: 8px;
}

.contacts__icon {
    width: 20px;
    height: 20px;
}

.contacts__icon-geo {
    background: no-repeat url('../i/icon-geo-point.svg');
    background-size: contain;
    background-position: center;
}

.contacts__address {
    display: flex;
    flex-direction: column;
}

.contacts__address > span {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    color: #646464;
}

.contacts__data-phones_moskow {
    display: grid;
    grid-template-columns: repeat(2, min-content) 1fr;
    column-gap: 8px;
    row-gap: 9px;
    margin-top: 47px;
}

.contacts__icon-phone {
    background: no-repeat url('../i/icon-phone.svg');
    background-size: contain;
    background-position: center;
}

.contacts__phone {
    align-self: center;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-wrap: nowrap;
    
    color: #646464;
    text-decoration: none;
}

.contacts__phone-description {
    align-self: end;

    font-family: 'Roboto';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    text-wrap: nowrap;

    color: #646464;
}

.contacts__delimeter {
    width: 2px;
    align-self: center;
    
    background: #D9D9D9;
}

.contacts__delimeter_mos {
    height: 83.78%;
}

.contacts__item-schedule_mos {
    padding-left: 40px;
}

.contacts__schedule-item {
    display: flex;
    gap: 9px;
}

.contacts__schedule-day {
    width: 63px;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    color: #646464;
}

.contacts__schedule-time {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    color: #646464;
}

.contacts__data-item-sunday-info {
    margin-top: 19px;
}

.contacts__sunday-info {
    width: 232px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #646464;
}

.contacts__data-schedule-bottom_mos {
    margin-top: 6px;
}

.contacts__data-item-attention {
    width: 293px;
    margin-top: 12px;
}

.contacts__data-attention-title {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    color: #646464;
}

.contacts__data-attention-text {
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

    color: #646464;
}

.contacts__item-emails {
    padding-left: 28px;
}

.contacts__wrapper-emails {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.contacts__icon-email {
    grid-column: 1;

    background: no-repeat url('../i/icon-email.svg');
    background-size: contain;
    background-position: center;
}

.contacts__data-emails {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    column-gap: 7px;
    row-gap: 6px;
}

.contacts__data-item-email {
    grid-column: 2;
}

.contacts__email {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-wrap: nowrap;

    color: #646464;
    text-decoration: none;
}

.contacts__data-item-description {
    grid-column: 3;
    align-self: end;
}

.contacts__email-description {
    font-family: 'Roboto';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    text-wrap: nowrap;

    color: #646464;
}
/* END CONTACTS DATA MOSKOW */


.contacts__map {
    height: 328px;
} 
/* START MAP MOSKOW */
.contacts__map_moskow {
    margin-top: 27px;
}
/* END MAP MOSKOW */


/* START SUBSCRIPTION */
.contacts__subscription {
    display: flex;
    margin-top: 65px;
    justify-content: center;
}

.contacts__subscription .subscr-i__baloon {
    display: none;
}
/* END SUBSCRIPTION */


/* START CONTACTS DATA РАМЕНСКОЕ */
.contacts__list_ram {
    margin-top: 93px;
}

.contacts__data-phones_ram {
    display: flex;
    margin-top: 22px;
    gap: 8px;
    align-items: center;
}

.contacts__phone_ram-first::after {
    content: ",";

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-wrap: nowrap;
    color: #646464;
}

.contacts__delimeter_ram {
    height: 100%;
}

.contacts__item-schedule_ram {
    padding-left: 75px;
}

.contacts__schedule-item-sunday-ram {
    margin-top: 2px;
}
/* END CONTACTS DATA РАМЕНСКОЕ */


/* START MAP MOSKOW */
.contacts__map_ramenskoe {
    margin-top: 38px;
}
/* END MAP MOSKOW */

@media(max-width: 1280px) {
    .contacts {
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media(max-width: 1280px) {
    .contacts__wrapper {
        width: 1084px;
    }
}

@media(max-width: 1148px) {
    .contacts__address > span {
        font-size: 15px;
    }
}

@media(max-width: 1148px) {
    .contacts__phone {
        font-size: 15px;
    }
}

@media(max-width: 1148px) {
    .contacts__phone-description {
        text-wrap: wrap;
    }
}

@media(max-width: 1148px) {
    .contacts__schedule-day {
        font-size: 15px;
    }
}

@media(max-width: 1148px) {
    .contacts__schedule-time {
        font-size: 15px;
    }
}

@media(max-width: 1148px) {
    .contacts__sunday-info {
        font-size: 13px;
    }
}

@media(max-width: 1148px) {
    .contacts__data-attention-title {
        font-size: 15px;
    }
}

@media(max-width: 1148px) {
    .contacts__data-attention-text {
        width: 90%;
    }
}

@media(max-width: 1148px) {
    .contacts__email {
        font-size: 15px;
    }
}

@media(max-width: 1024px) {
    .contacts {
        padding-top: 13.33vw;
        padding-right: 0;
        padding-bottom: 18.13vw;
        padding-left: 0;
    }
}

@media(max-width: 1024px) {
    .contacts__wrapper {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .contacts__title {
        font-size: 6.40vw;
    }
}

/* START CONTACTS MOSKOW */
@media(max-width: 1024px) {
    .contacts__list {
        display: block;
    }
}

@media(max-width: 1024px) {
    .contacts__list_moskow {
        margin-top: 20px;
    }
}

@media(max-width: 1024px) {
    .contacts__item {
        gap: 0;
    }
}

@media(max-width: 1024px) {
    .contacts__list-title {
        font-size: 4.27vw;
        text-align: center;
    }
    
    .contacts__list-title-office {
        font-size: 4.80vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-list-office {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    
    .contacts__data-list-office_mos {
        margin-top: 2.93vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-item-address_mos {
        width: 75.5%;
        gap: 1.33vw;
    }
}

@media(max-width: 1024px) {
    .contacts__icon {
        height: 4.80vw;
        width: 4.80vw;
    }
}

@media(max-width: 1024px) {
    .contacts__address > span {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-phones_moskow {
        width: 65.6%;
        margin-top: 6.93vw;
        column-gap: 0;
        row-gap: 4.53vw;
    }
}

@media(max-width: 1024px) {
    .contacts__icon-phone {
        align-self: center;
    }
}

@media(max-width: 1024px) {
    .contacts__phone {
        margin-left: 2.13vw;

        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .contacts__phone-description {
        margin-left: 4.27vw;

        font-size: 2.93vw;
    }
}

@media(max-width: 1024px) {
    .contacts__delimeter {
        display: none;
    }
}

@media(max-width: 1024px) {
    .contacts__item-schedule_mos {
        margin-top: 4.53vw;
        padding-left: 0;
    }
}

@media(max-width: 1024px) {
    .contacts__data-list-schedule {
        display: flex;
        margin-top: 3.47vw;
        flex-direction: column;
        align-items: center;
    }   
}

@media(max-width: 1024px) {
    .contacts__data-item-schedule {
        width: 65.6%;
    }
}

@media(max-width: 1024px) {
    .contacts__schedule-item {
        gap: 2.73vw;
    }
}

@media(max-width: 1024px) {
    .contacts__schedule-day {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .contacts__schedule-time {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-item-sunday-info {
        width: 65.6%;
        margin-top: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .contacts__sunday-info {
        width: 100%;

        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-schedule-bottom_mos {
        margin-top: 1.60vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-item-attention {
        width: 92%;
        margin-top: 5.07vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-attention-title {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-attention-text {
        width: 100%;

        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .contacts__item-emails {
        margin-top: 6.40vw;
        padding-left: 0;
        align-items: center;
    }
}

@media(max-width: 1024px) {
    .contacts__wrapper-emails {
        width: 91.1%;
        margin-top: 4.53vw;
        gap: 1vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-emails {
        display: grid;
        column-gap: 1.60vw;
        row-gap: 2.93vw;
        align-items: initial;
    }
}

@media(max-width: 1024px) {
    .contacts__email {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .contacts__email-description {
        font-size: 2.93vw;
    }
}
/* END CONTACTS MOSKOW */

@media(max-width: 1024px) {
    .contacts__map {
        height: 80vw;
    }

    .contacts__map_moskow {
        margin-top: 5.87vw;
    }
}

/* START SUBSCRIPTION */
@media(max-width: 1024px) {
    .contacts__subscription {
        margin: 5.60vw auto 0;
        width: 88.6%;
    }
}

@media(max-width: 1024px) {
    .contacts__subscription .subscr-i__baloon {
        display: block;
    }
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}





/* START CONTACTS RAMENSKOE */
@media(max-width: 1024px) {
    .contacts__list_ram {
        margin-top: 8vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-list-office_ram {
        margin-top: 5.60vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-item-address_ram {
        width: fit-content;
    }
}

@media(max-width: 1024px) {
    .contacts__data-phones_ram {
        display: grid;
        grid-template-columns: min-content 1fr;
        margin-top: 7.73vw;
        column-gap: 2.13vw;
        row-gap: 2.67vw;
    }

    .contacts__data-phones_ram::before {
        content: url('../i/icon-phone.svg');

        display: inline-block;
        grid-row: 2;
        grid-column: 1;
        height: 4.80vw;
        width: 4.80vw;
        align-self: center;
    }
}

@media(max-width: 1024px) {
    .contacts__icon-phone_ram {
        grid-row: 1;
        grid-column: 1;
    }
}

@media(max-width: 1024px) {
    .contacts__phone_ram-first::after {
        display: none;
    }   
}

@media(max-width: 1024px) {
    .contacts__item-schedule_ram {
        padding-left: 0;
        margin-top: 6.40vw;
    }
}

@media(max-width: 1024px) {
    .contacts__data-schedule_ram {
        width: 47.8%
    }
}

@media(max-width: 1024px) {
    .contacts__schedule-item-sunday-ram {
        margin-top: 2.13vw;
    }
}

@media(max-width: 1024px) {
    .contacts__email-description_ram {
        padding-left: 12.6%;
    }
}
/* END CONTACTS RAMENSKOE */

@media(max-width: 1024px) {
    .contacts__map_ramenskoe {
        margin-top: 6.93vw;
    }
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}
