html {
    scroll-behavior: smooth;
}

.corp-cl__main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
    font-family: initial;
    font-size: initial;
    font-weight: initial;
    text-align: start;
    line-height: initial !important;
    white-space: initial;
    
    list-style-type: none;
    border: initial;
    border-radius: initial;
    outline: initial;
    color: initial;
    background-color: initial;
    box-shadow: initial;
    
    cursor: initial;
    appearance: auto;
}

input:focus, textarea:focus {
    outline: 0;
}

/* =========================== */

/* START BANNER */
.corp-cl__main {
    padding-bottom: 139px;
}

.corp-cl__banner {
    display: grid;
    place-items: center;
    height: 650px;

    background: no-repeat url('../i/corporativnym-clientam-banner.webp');
    background-size: cover;
    background-position: center;
}

.corp-cl__banner-content {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-left: -3px;
}

.corp-cl__banner-logo {
    width: 257px;
    height: 135px;

    background: no-repeat url('../i/logo-white.svg');
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

    cursor: pointer;
}

.corp-cl__banner-text-static {
    font-family: "Roboto Slab";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;

    color: #FFF;
}

p.corp-cl__banner-text > span {
    font-family: "Roboto Slab";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1 !important;

    color: #FFEA60;
}

.corp-cl__banner-anchor > a {
    display: grid;
    place-items: center;
    width: 250px;
    height: 50px;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;

    cursor: pointer;
}

.corp-cl__banner-anchor > a:hover {
    background-color: #ed5f00;
}
.corp-cl__banner-anchor > a:active {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
/* END BANNER */

.corp-cl__section-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
}

/* START КОРПОРАТИВНЫМ КЛИЕНТАМ */
.corp-cl__about {
    width: 1288px;
    margin-top: 47px;
}

.corp-cl__about-title {
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #F60;
}

.corp-cl__about-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding-top: 41px;
    padding-right: 105px;
    padding-bottom: 53px;
    padding-left: 24px;

    border-radius: 50px;
    border: 3px solid #7B7B7B;
}

.corp-cl__about-wr-text {
    flex-grow: 1;
}

.corp-cl__about-ribbon {
    position: relative;

    display: flex;
    align-items: center;
    height: 50px;
    width: 89.29%;
    padding-left: 21px;

    background: #FF732D;
}

.corp-cl__about-ribbon::before,
.corp-cl__about-ribbon::after {
    content: "";

    position: absolute;
    top: 50%;

    display: inline-block;
    width: 20px;
    height: 20px;

    background-color: #fff;
    border-radius: 50%;
}

.corp-cl__about-ribbon::before {
    left: 0;

    transform: translate(-50%, -50%);
}
.corp-cl__about-ribbon::after {
    right: 0;

    transform: translate(50%, -50%);
}

.corp-cl__about-ribbon > h3 {
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;

    color: #FFF;
}

.corp-cl__about-text-content {
    width: 89.89%;
    margin-top: 28px;
    margin-left: 20px;
}

.corp-cl__about-text {
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    color: #464646;
}

.corp-cl__about-top-text-operator {
    font-size: 24px;
    font-weight: 500;
}

.corp-cl__about-text-mfp {
    margin-top: 13px;
}

.corp-cl__about-numeric {
    width: fit-content;

    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;

    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.corp-cl__about-year {
    margin-top: 20px;
}

.corp-cl__about-text-dev {
    margin-top: 4px;
}

.corp-cl__about-more {
    margin-top: 37px;
}

.corp-cl__about-text-trust {
    margin-top: 4px;
}

.corp-cl__about-us-mfp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 386px;
}

.corp-cl__about-us-mfp-logo {
    width: 377px; 
    height: 312px;
}

.corp-cl__about-us-mfp-logo > img {
    height: 100%;
    width: 100%;
    
    object-fit: contain;
    object-position: center;
}

.corp-cl__about-us-mfp-button {
    width: 100%;
}

.corp-cl__about-us-mfp-button > a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 40px;
    
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
    
    color: #FFF;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);
    
    cursor: pointer;
}

.corp-cl__about-us-mfp-button > a:hover {
    background-color: #ed5f00;
}
.corp-cl__about-us-mfp-button > a:active {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
/* END КОРПОРАТИВНЫМ КЛИЕНТАМ */

/* START ЧТО МЫ ПРЕДЛАГАЕМ */
.corp-cl__offer {
    margin-top: 62px;
}

.corp-cl__offer-title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;

    color: #F60;
}

.corp-cl__offer-sub-title {
    width: 805px;
    margin: 11px auto 0;

    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #464646;
}

.corp-cl__offer-content {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 37px;
    
    border-radius: 50px;
    background-color: rgba(255, 115, 45, 0.30);
    background-image: 
        url('../i/cloud-white-transparent-no-border.svg'),
        url('../i/cloud-white-transparent-no-border.svg'),
        url('../i/cloud-white-transparent-no-border.svg'),
        url('../i/cloud-white-transparent-no-border.svg'),
        url('../i/cloud-white-transparent-no-border.svg'),
        url('../i/cloud-white-transparent-no-border.svg');
    background-repeat: 
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-size: 
        235px 125px,
        243px 130px,
        340px 182px,
        235px 125px,
        372px 198px,
        235px 125px;
    background-position: 
        11.8% 318px,
        14.8% 79%,
        1% 91.5%,
        98.4% 78px,
        89.3% 180px,
        93.5% 90.5%;
}

.corp-cl__offer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1489px;
    
    padding-top: 59px;
    padding-bottom: 59px;
    column-gap: 59px;
    row-gap: 40px;
}

.corp-cl__offer-item {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 390px;
    min-height: 470px;
    padding: 0 19px 20px;

    border-radius: 30px;
    background: linear-gradient(204deg, rgba(206, 63, 228, 0.50) 20.69%, rgba(113, 57, 190, 0.50) 81.11%);
    box-shadow: 0px 1px 1px 0px #FFF inset, 0px -2px 2px 1px rgba(0, 0, 0, 0.25) inset, 0px 0px 4px 0px rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(7.5px);
}

.corp-cl__offer-item-wr-title {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    height: 90px;
}

.corp-cl__offer-item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corp-cl__offer-item-title > span {
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    color: #FFF;
}

.corp-cl__offer-item-wr-text {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.corp-cl__offer-item-text,
.corp-cl__offer-item-text > span {
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;
}

.corp-cl__offer-item-text_small {
    margin-top: -7px;

    font-size: 13px;
}

.corp-cl__offer-item-text_small > span {
    font-size: 13px;
}

span.corp-cl__offer-item-text_bold {
    font-weight: 500;
}

.corp-cl__offer-item-wr-anchor {
    display: flex;
    align-items: end;
    flex-grow: 1;
}

.corp-cl__offer-item-anchor {
    display: grid;
    place-items: center;
    width: 191px;
    height: 38px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;

    cursor: pointer;
}

.corp-cl__offer-item-anchor:hover {
    background-color: #ed5f00;
}
.corp-cl__offer-item-anchor:active {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.corp-cl__offer-item-image {
    position: absolute;
}

.corp-cl__offer-item-image_bus {
    right: 6px;
    bottom: 6px;

    width: 163px;
    height: 87px;

    background: no-repeat url('../i/offer-bus.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__offer-item-image_russia {
    right: 7px;
    bottom: 5px;

    width: 141px;
    height: 111px;

    background: no-repeat url('../i/offer-russia.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__offer-item-image_abroad {
    right: 6px;
    bottom: -13px;

    width: 133px;
    height: 133px;

    background: no-repeat url('../i/offer-abroad.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__offer-item-image_river {
    right: 9px;
    bottom: 9px;

    width: 154px;
    height: 86px;

    background: no-repeat url('../i/offer-river.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__offer-item-image_active {
    right: 4px;
    bottom: -4px;

    width: 127px;
    height: 127px;

    background: no-repeat url('../i/offer-active.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__offer-item-image_school {
    right: 11px;
    bottom: -13px;

    width: 120px;
    height: 120px;

    background: no-repeat url('../i/offer-school.svg');
    background-size: contain;
    background-position: center;
}
/* END ЧТО МЫ ПРЕДЛАГАЕМ */

/* START ПРЕИМУЩЕСТВА */
.corp-cl__advant {
    display: flex;
    justify-content: space-between;
    width: 1287px;
    margin-top: 56px;
}

.corp-cl__advant-info {
    padding-top: 45px;
}

.corp-cl__advant-ribbon {
    position: relative;

    display: flex;
    align-items: center;
    height: 50px;
    width: 605px;
    padding-left: 21px;

    background: #FF732D;
}

.corp-cl__advant-ribbon::before,
.corp-cl__advant-ribbon::after {
    content: "";

    position: absolute;
    top: 50%;

    display: inline-block;
    width: 20px;
    height: 20px;

    background-color: #fff;
    border-radius: 50%;
}

.corp-cl__advant-ribbon::before {
    left: 0;

    transform: translate(-50%, -50%);
}
.corp-cl__advant-ribbon::after {
    right: 0;

    transform: translate(50%, -50%);
}

.corp-cl__advant-ribbon > h2 {
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;

    color: #FFF;
}

.corp-cl__advant-list {
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    padding-left: 7px;
    gap: 9px;
}

.corp-cl__advant-item {
    display: flex;
    align-items: center;
    gap: 14px;

    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;

    color: #464646;
}

.corp-cl__advant-item::before {
    content: "";

    height: 5px;
    width: 5px;

    background-color: #464646;
    border-radius: 50%;
}


.corp-cl__advant-img {
    width: 558px;
    height: 418px;

    background: no-repeat url('../i/corp-client-advantages-image.svg');
    background-size: contain;
    background-position: center;
}
/* END ПРЕИМУЩЕСТВА */


/* START ПЛЮСЫ КОРПОРАТИВНОГО КЛИЕНТА */
.corp-cl__pluses {
    width: 1307px;
    margin-top: 49px;
}

.corp-cl__pluses-title {
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #F60;
}

.corp-cl__pluses-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 48px;
    column-gap: 23px;
    row-gap: 28px;
}

.corp-cl__pluses-item {
    flex-shrink: 0;
}

.corp-cl__pluses-item-icon {
    height: 208px;
    width: 259px;
}

.corp-cl__pluses-icon-first {
    margin-left: -7px;

    background: no-repeat url('../i/team-spirit.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__pluses-icon_second {
    margin-left: 13px;

    background: no-repeat url('../i/team-trust.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__pluses-icon_third {
    margin-left: -13px;

    background: no-repeat url('../i/team-like.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__pluses-icon_fourth {
    margin-left: -12px;

    background: no-repeat url('../i/team-lamp.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__pluses-item-title {
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #464646;
}

.corp-cl__pluses-item-text {
    margin-top: 9px;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-wrap: nowrap;
    white-space: nowrap;

    color: #464646;
}
/* END ПЛЮСЫ КОРПОРАТИВНОГО КЛИЕНТА */

/* START ФОРМА КОНСУЛЬТАЦИИ */
.corp-cl__support {
    width: 1224px;
    margin-top: 125px;
}
/* END ФОРМА КОНСУЛЬТАЦИИ */


/* START ОТЗЫВЫ */
.corp-cl__reviews {
    margin-top: 75px;
}

.corp-cl__reviews-content {
    padding-top: 19px;
    padding-bottom: 44px;

    border-radius: 50px;
    background: rgba(255, 115, 45, 0.30);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.corp-cl__reviews-title {
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #F60;
}

.corp-cl__sw {
    width: 1287px;
    margin: 43px auto 0;
}

.corp-cl__sw-slide {
    min-height: 340px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 11px;

    border-radius: 20px;
    background: #FFF;
}

.corp-cl__sw-slide-head {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    margin-top: 20px;
}

.corp-cl__sw-slide-avatar {
    width: 64px;
    height: 64px;

    background: no-repeat url('../i/default-avatar.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__sw-slide-name-date {
    padding-left: 11px;
    align-self: center;
}

.corp-cl__sw-slide-name {
    max-width: 119px;

    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

    color: #464646;
    text-overflow: ellipsis;

    overflow: hidden;
}

.corp-cl__sw-slide-date {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500; 

    color: #C2C2C2;
}

.corp-cl__stars-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    gap: 5px;

    margin-top: 5px;
}

.corp-cl__stars-item {
    width: 32px;
    height: 32px;

    background: no-repeat url('../i/star-no-active.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__stars-item_active {
    background: no-repeat url('../i/star-active.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__sw-slide-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
    margin-top: 19px;
    
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    
    color: #4B5D68;
    
    -webkit-line-clamp: 9;
    line-clamp: 9;
    overflow: hidden;
}

.corp-cl__sw-slide-arrow {
    display: flex;
    margin-top: 11px;
    justify-content: end;
}

.corp-cl__sw-slide-arrow > a {
    width: 30px;
    height: 15px;

    background: no-repeat url('../i/arrow-to-right-grey.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.corp-cl__reviews-arrows {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 16px;
}

.corp-cl__ws-arrow {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    box-shadow: 0 0 6px rgba(90, 93, 98, 0.8);
    
    transition: transform 0.1s linear;

    cursor: pointer;
}

.corp-cl__button-prev {
    background: no-repeat url('../i/arrow-to-left-in-circle-with-transparent-background.svg');
    background-size: contain;
    background-position: center;
}
.corp-cl__button-next {
    background: no-repeat url('../i/arrow-to-right-in-circle-with-transparent-background.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__ws-arrow:hover {
    transform: scale(1.05);
}

.corp-cl__ws-arrow:active {
    box-shadow: 0 0 6px rgba(90, 93, 98, 0.3);

    transition: transform 0.03s  linear, box-shadow 0.03s linear;

    transform: scale(0.95);
}
/* END ОТЗЫВЫ */

/* START 1360 */

@media(max-width: 1360px) {
    .corp-cl__about {
        width: 1091px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-title {
        font-size: 34px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-ribbon {
        height: 42px;
    }

    .corp-cl__about-ribbon::before, .corp-cl__about-ribbon::after {
        width: 16px;
        height: 16px;
    }

    .corp-cl__about-ribbon > h3 {
        font-size: 30px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-text-content {
        margin-top: 22px;
        margin-left: 18px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-top-text-operator {
        font-size: 22px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-text {
        font-size: 17px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-text-mfp {
        margin-top: 10px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-numeric {
        font-size: 25px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-year {
        margin-top: 15px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-text-dev {
        margin-top: 2px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-more {
        margin-top: 25px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-text-trust {
        margin-top: 2px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-us-mfp {
        width: 297px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__about-us-mfp-logo {
        width: 297px;
        height: 247px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer {
        margin-top: 53px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-title {
        font-size: 32px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-sub-title {
        font-size: 18px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-content {
        margin-top: 29px;

        background-size: 214px auto, 203px auto, 245px auto, 181px auto, 250px auto, 195px auto;
        background-position: 2.8% 318px, 28.8% 79%, -1% 91.5%, 98.4% 78px, 71.3% 180px, 98.5% 90.5%;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-list {
        padding-top: 54px;
        padding-bottom: 54px;
        column-gap: 39px;
        row-gap: 29px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item {
        width: 338px;
        min-height: 437px;
        padding: 0 14px 18px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-wr-title {
        height: 75px;
    }

    .corp-cl__offer-item-title > span {
        font-size: 21px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-wr-text {
        gap: 9px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-text, .corp-cl__offer-item-text > span {
        font-size: 14px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-text_small {
        font-size: 12.5px;
    }

    .corp-cl__offer-item-text_small > span {
        font-size: 12.5px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-anchor {
        width: 165px;
        height: 34px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-image_bus {
        right: 4px;
        bottom: 4px;

        width: 149px;
        height: 79px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-image_russia {
        right: 6px;
        bottom: 4px;

        width: 132px;
        height: 105px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-image_abroad {
        right: 5px;
        bottom: -15px;

        width: 124px;
        height: 124px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-image_river {
        right: 7px;
        bottom: 7px;

        width: 141px;
        height: 79px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-image_active {
        right: 3px;
        bottom: -5px;
        
        width: 121px;
        height: 121px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__offer-item-image_school {
        right: 8px;
        bottom: -10px;

        width: 113px;
        height: 113px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__advant {
        width: 1091px;
        margin-top: 45px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__advant-info {
        padding-top: 41px;
    }

}

@media(max-width: 1360px) {
    .corp-cl__advant-ribbon {
        width: 532px;
        height: 42px;
    }

    .corp-cl__advant-ribbon::before, .corp-cl__advant-ribbon::after {
        width: 16px;
        height: 16px;
    }

    .corp-cl__advant-ribbon > h2 {
        font-size: 30px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__advant-list {
        margin-top: 33px;
        gap: 6px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__advant-item {
        font-size: 19px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__advant-img {
        width: 480px;
        height: 358px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__pluses {
        width: 1115px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__pluses-title {
        font-size: 30px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__pluses-list {
        margin-top: 45px;
        column-gap: 11px;
        row-gap: 25px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__pluses-item-icon {
        height: 178px;
        width: 218px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__pluses-item-title {
        font-size: 17px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__pluses-item-text {
        margin-top: 7px;

        font-size: 13.5px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__support {
        width: 1092px;
        margin-top: 112px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__reviews-title {
        font-size: 30px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__sw {
        width: 1091px;
        margin: 29px auto 0;
    }
}

@media(max-width: 1360px) {
    .corp-cl__sw-slide {
        min-height: 300px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 10px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__sw-slide-head {
        margin-top: 16px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__sw-slide-avatar {
        width: 60px;
        height: 60px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__sw-slide-name-date {
        padding-left: 9px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__sw-slide-name {
        max-width: 96px;

        font-size: 15px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__sw-slide-date {
        font-size: 12px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__stars-list {
        gap: 3px;
        margin-top: 2px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__stars-item {
        width: 28px;
        height: 28px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__sw-slide-text {
        margin-top: 16px;

        font-size: 16px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__sw-slide-arrow > a {
        width: 28px;
        height: 14px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__reviews-arrows {
        margin-top: 42px;
    }
}

@media(max-width: 1360px) {
    .corp-cl__ws-arrow {
        width: 39px;
        height: 39px;
    }
}

/* END 1360 */

/* START 1024 */
@media(max-width: 1024px) {
    .corp-cl__banner {
        height: 80vw;

        background: no-repeat url('../i/corporativnym-clientam-banner-mobile.webp');
        background-size: contain;
        background-position: center;
    }
}

@media(max-width: 1024px) {
    .corp-cl__banner-content {
        margin-top: 7.7vw;
        margin-left: 5.3vw;
        row-gap: 0;
    }
}

@media(max-width: 1024px) {
    .corp-cl__banner-logo {
        width: 30.93vw;
        height: 16.27vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__banner-wr-text {
        margin-top: 4vw;
    }  
}

@media(max-width: 1024px) {
    .corp-cl__banner-text-static {
        font-size: 4.27vw;
    }
    
    p.corp-cl__banner-text > span {
        font-size: 4.27vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__banner-anchor {
        margin-top: 6.67vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__banner-anchor > a {
        width: 50.13vw;
        height: 10.67vw;
    }

    .corp-cl__banner-anchor > a:hover {
        background-color: #FF732D;
    }
}

@media(max-width: 1024px) {
    .corp-cl__section-wrapper {
        padding: 0;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about {
        width: 89.33vw;
        margin-top: 8vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-title {
        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-content {
        display: block;

        margin-top: 6.13vw;
        padding-top: 10.93vw;
        padding-right: 3.20vw;
        padding-bottom: 10.93vw;
        padding-left: 3.20vw;

        border-radius: 8vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-ribbon {
        display: grid;
        place-items: center;
        height: 10.40vw;
        width: 100%;
        padding-left: 0;
    }

    .corp-cl__about-ribbon::before, .corp-cl__about-ribbon::after {
        width: 4vw;
        height: 4vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-ribbon > h3 {
        font-size: 6.40vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-text-content {
        width: 100%;
        margin-top: 5.60vw;
        margin-left: 0;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-text {
        font-size: 4vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-top-text-operator {
        font-size: 4.80vw;
        text-align: center;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-text-mfp {
        margin-top: 1.87vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-numeric {
        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-year {
        margin-top: 4vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-text-dev {
        margin-top: 2.67vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-more {
        margin-top: 4vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-text-trust {
        margin-top: 2.67vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-us-mfp {
        display: block;
        width: 100%;
        margin-top: 5.07vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-us-mfp-logo {
        width: 100%;
        height: 58.13vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-us-mfp-logo > img {
        object-position: left center;
    }
}

@media(max-width: 1024px) {
    .corp-cl__about-us-mfp-button {
        margin-top: 10.67vw;
    }

    .corp-cl__about-us-mfp-button > a {
        height: 10.67vw;

        font-size: 3.73vw;

        border-radius: 6.67vw;
        box-shadow: 0px 0px 1.87vw 0.53vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer {
        margin-top: 8vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-title {
        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-sub-title {
        width: auto;
        margin-top: 2.67vw;

        font-size: 4vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-content {
        margin-top: 6.40vw;

        border-radius: 13.33vw;
        background-image: 
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg'),
            url('../i/cloud-white-transparent-no-border.svg');
        background-repeat: 
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat;
        background-size: 
            45.60vw auto,
            72vw auto,
            45.60vw auto,
            45.60vw auto,
            64.53vw auto,
            65.87vw auto,
            45.60vw auto,
            72vw auto,
            45.60vw auto,
            45.60vw auto,
            64.53vw auto,
            45.60vw auto,
            65.87vw auto,
            45.60vw auto,
            72vw auto,
            45.60vw auto,
            45.60vw auto,
            64.53vw auto;
        background-position: 
            left 40.80vw top 23.73vw,
            left -12.53vw top 40.80vw,
            left 50.13vw top 82.93vw,
            left -8vw top 150.13vw,
            right -18.13vw top 162.40vw,
            left -18.13vw top 242.67vw,
            left 48vw top 298.93vw,
            left -12.53vw top 336.27vw,
            right 4.27vw top 378.40vw,
            left -8vw top 445.60vw,
            right -18.13vw top 457.87vw,
            right -13.60vw top 531.47vw,
            left -18.13vw top 538.13vw,
            right 5.60vw top 599.93vw,
            left -3.73vw top 620.27vw,
            right -4.53vw top 662.40vw,
            left 0.80vw top 725.6vw,
            right -26.93vw top 735.87vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-list {
        justify-content: initial;
        width: 89.33vw;
        padding-top: 9.07vw;
        padding-bottom: 9.87vw;
        column-gap: 0;
        row-gap: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item {
        width: 100%;
        min-height: 125.33vw;

        border-radius: 8vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-wr-title {
        height: 21.33vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-title > span {
        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-wr-text {
        gap: 4vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-text, .corp-cl__offer-item-text > span {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-text_small, .corp-cl__offer-item-text_small > span {
        font-size: 3.47vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-anchor {
        width: 43.73vw;
        height: 10.13vw;

        font-size: 3.73vw;

        border-radius: 6.67vw;
        box-shadow: 0px 0px 1.87vw 0.53vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-image_bus {
        right: 1.5vw;
        bottom: 4.5vw;

        width: 37.07vw;
        height: 19.73vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-image_russia {
        right: 4vw;
        bottom: 4.5vw;

        width: 32vw;
        height: 25.5vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-image_abroad {
        right: 4.3vw;
        bottom: 0.1vw;

        width: 27.1vw;
        height: 27.2vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-image_river {
        right: 2.9vw;
        bottom: 2.2vw;

        width: 35.8vw;
        height: 20vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-image_active {
        right: 4.80vw;
        bottom: 0;

        width: 26.13vw;
        height: 26.13vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__offer-item-image_school {
        right: 6.40vw;
        bottom: -2.27vw;

        width: 26.53vw;
        height: 25.67vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__advant {
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        width: 100%;
        margin-top: 8vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__advant-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 0;
    }
}

@media(max-width: 1024px) {
    .corp-cl__advant-ribbon {
        display: grid;
        place-items: center;
        height: 10.40vw;
        width: 89.33vw;
        padding-left: 0;
    }

    .corp-cl__advant-ribbon::before, .corp-cl__advant-ribbon::after {
        width: 4vw;
        height: 4vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__advant-ribbon > h2 {
        font-size: 6.4vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__advant-list {
        width: 91%;
        margin-top: 8vw;
        padding-left: 0;
        gap: 3.3vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__advant-item {
        gap: 2.5vw;

        font-size: 4.27vw;
    }

    .corp-cl__advant-item::before {
        height: 1.07vw;
        width: 1.07vw;
        flex-shrink: 0;
    }
}

@media(max-width: 1024px) {
    .corp-cl__advant-img {
        width: 100%;
        height: 84.7vw;

        background-size: 113.1% auto;
    }
}

@media(max-width: 1024px) {
    .corp-cl__pluses {
        width: 100%;
        margin-top: 8vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__pluses-title {
        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__pluses-list {
        margin-top: 8vw;
        column-gap: 0;
        row-gap: 4vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__pluses-item-icon {
        height: 53.9vw;
        width: 66.3vw;
        margin-left: 0;
    }

    .corp-cl__pluses-icon_second {
        margin-left: 3.9vw;
    }

    .corp-cl__pluses-icon_third {
        margin-left: -2.9vw;
    }

    .corp-cl__pluses-icon_fourth {
        margin-left: -3.2px;
    }
}

@media(max-width: 1024px) {
    .corp-cl__pluses-item-title {
        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__pluses-item-text {
        margin-top: 2.40vw;

        font-size: 4.27vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__support {
        width: 100%;
        margin-top: 19.7vw;

        background-color: #fff;
    }
}

@media(max-width: 1024px) {
    .corp-cl__reviews {
        margin-top: 5vw;
    }
}

@media(max-width: 1024px) {
    .corp-cl__reviews-content {
        position: relative;

        padding-top: 31.1vw;
        
        border-radius: 0;
        box-shadow: none;
        /* background-image: url('../i/decor-reviews-corporat-clients.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center top; */

        overflow: hidden;
    }

    .corp-cl__reviews-content::before {
        content: "";

        position: absolute;
        top: 0;
        left: 50%;

        height: 135px;
        width: 106%;

        background-color: #fff;
        border-radius: 50%;

        transform: translate(-50%, -42%);
    }
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}

@media(max-width: 1024px) {
    
}
/* END 1024 */