html {
    scroll-behavior: smooth;
}

.corp-cl__main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
    font-family: initial;
    font-size: initial;
    font-weight: initial;
    text-align: start;
    line-height: initial !important;
    white-space: initial;
    
    list-style-type: none;
    border: initial;
    border-radius: initial;
    outline: initial;
    color: initial;
    background-color: initial;
    box-shadow: initial;
    
    cursor: initial;
    appearance: auto;
}

input:focus, textarea:focus {
    outline: 0;
}

/* =========================== */

/* START BANNER */
.corp-cl__main {
    padding-bottom: 139px;
}

.corp-cl__banner {
    display: grid;
    place-items: center;
    height: 650px;
    margin-left: -3px;

    background: no-repeat url('../i/corporativnym-clientam-banner.webp');
    background-size: cover;
    background-position: center;
}

.corp-cl__banner-content {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.corp-cl__banner-logo {
    width: 257px;
    height: 135px;

    background: no-repeat url('../i/logo-white.svg');
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

    cursor: pointer;
}

.corp-cl__banner-text-static {
    font-family: "Roboto Slab";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;

    color: #FFF;
}

p.corp-cl__banner-text > span {
    font-family: "Roboto Slab";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1 !important;

    color: #FFEA60;
}

.corp-cl__banner-anchor > a {
    display: grid;
    place-items: center;
    width: 250px;
    height: 50px;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;

    cursor: pointer;
}

.corp-cl__banner-anchor > a:hover {
    background-color: #ed5f00;
}
.corp-cl__banner-anchor > a:active {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
/* END BANNER */

.corp-cl__section-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
}

/* START КОРПОРАТИВНЫМ КЛИЕНТАМ */
.corp-cl__about {
    width: 1288px;
    margin-top: 47px;
}

.corp-cl__about-title {
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #F60;
}

.corp-cl__about-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding-top: 41px;
    padding-right: 105px;
    padding-bottom: 53px;
    padding-left: 24px;

    border-radius: 50px;
    border: 3px solid #7B7B7B;
}

.corp-cl__about-wr-text {
    flex-grow: 1;
}

.corp-cl__about-ribbon {
    position: relative;

    display: flex;
    align-items: center;
    height: 50px;
    width: 89.29%;
    padding-left: 21px;

    background: #FF732D;
}

.corp-cl__about-ribbon::before,
.corp-cl__about-ribbon::after {
    content: "";

    position: absolute;
    top: 50%;

    display: inline-block;
    width: 20px;
    height: 20px;

    background-color: #fff;
    border-radius: 50%;
}

.corp-cl__about-ribbon::before {
    left: 0;

    transform: translate(-50%, -50%);
}
.corp-cl__about-ribbon::after {
    right: 0;

    transform: translate(50%, -50%);
}

.corp-cl__about-ribbon > h3 {
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;

    color: #FFF;
}

.corp-cl__about-text-content {
    width: 89.89%;
    margin-top: 28px;
    margin-left: 20px;
}

.corp-cl__about-text {
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    color: #464646;
}

.corp-cl__about-top-text-operator {
    font-size: 24px;
    font-weight: 500;
}

.corp-cl__about-text-mfp {
    margin-top: 13px;
}

.corp-cl__about-numeric {
    width: fit-content;

    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;

    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.corp-cl__about-year {
    margin-top: 20px;
}

.corp-cl__about-text-dev {
    margin-top: 4px;
}

.corp-cl__about-more {
    margin-top: 37px;
}

.corp-cl__about-text-trust {
    margin-top: 4px;
}

.corp-cl__about-us-mfp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 386px;
}

.corp-cl__about-us-mfp-logo {
    width: 377px; 
    height: 312px;
}

.corp-cl__about-us-mfp-logo > img {
    height: 100%;
    width: 100%;
    
    object-fit: contain;
    object-position: center;
}

.corp-cl__about-us-mfp-button {
    width: 100%;
}

.corp-cl__about-us-mfp-button > a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 40px;
    
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
    
    color: #FFF;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);
    
    cursor: pointer;
}

.corp-cl__about-us-mfp-button > a:hover {
    background-color: #ed5f00;
}
.corp-cl__about-us-mfp-button > a:active {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
/* END КОРПОРАТИВНЫМ КЛИЕНТАМ */

/* START ЧТО МЫ ПРЕДЛАГАЕМ */
.corp-cl__offer {
    margin-top: 62px;
}

.corp-cl__offer-title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;

    color: #F60;
}

.corp-cl__offer-sub-title {
    width: 805px;
    margin: 11px auto 0;

    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #464646;
}

.corp-cl__offer-content {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 37px;
    
    border-radius: 50px;
    background-color: rgba(255, 115, 45, 0.30);
    background-image: 
        url('../i/cloud-white-transparent-no-border.svg'),
        url('../i/cloud-white-transparent-no-border.svg'),
        url('../i/cloud-white-transparent-no-border.svg'),
        url('../i/cloud-white-transparent-no-border.svg'),
        url('../i/cloud-white-transparent-no-border.svg'),
        url('../i/cloud-white-transparent-no-border.svg');
    background-repeat: 
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-size: 
        235px 125px,
        243px 130px,
        340px 182px,
        235px 125px,
        372px 198px,
        235px 125px;
    background-position: 
        11.8% 318px,
        14.8% 79%,
        1% 91.5%,
        98.4% 78px,
        89.3% 180px,
        93.5% 90.5%;
}

.corp-cl__offer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1489px;
    
    padding-top: 59px;
    padding-bottom: 59px;
    column-gap: 59px;
    row-gap: 40px;
}

.corp-cl__offer-item {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 390px;
    min-height: 470px;
    padding: 0 19px 20px;

    border-radius: 30px;
    background: linear-gradient(204deg, rgba(206, 63, 228, 0.50) 20.69%, rgba(113, 57, 190, 0.50) 81.11%);
    box-shadow: 0px 1px 1px 0px #FFF inset, 0px -2px 2px 1px rgba(0, 0, 0, 0.25) inset, 0px 0px 4px 0px rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(7.5px);
}

.corp-cl__offer-item-wr-title {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    height: 90px;
}

.corp-cl__offer-item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corp-cl__offer-item-title > span {
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    color: #FFF;
}

.corp-cl__offer-item-wr-text {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.corp-cl__offer-item-text,
.corp-cl__offer-item-text > span {
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;
}

.corp-cl__offer-item-text_small {
    margin-top: -7px;

    font-size: 13px;
}

.corp-cl__offer-item-text_small > span {
    font-size: 13px;
}

span.corp-cl__offer-item-text_bold {
    font-weight: 500;
}

.corp-cl__offer-item-wr-anchor {
    display: flex;
    align-items: end;
    flex-grow: 1;
}

.corp-cl__offer-item-anchor {
    display: grid;
    place-items: center;
    width: 191px;
    height: 38px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;

    cursor: pointer;
}

.corp-cl__offer-item-anchor:hover {
    background-color: #ed5f00;
}
.corp-cl__offer-item-anchor:active {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
/* END ЧТО МЫ ПРЕДЛАГАЕМ */

/* START ПРЕИМУЩЕСТВА */
.corp-cl__advant {
    display: flex;
    justify-content: space-between;
    width: 1287px;
    margin-top: 56px;
}

.corp-cl__advant-info {
    padding-top: 45px;
}

.corp-cl__advant-ribbon {
    position: relative;

    display: flex;
    align-items: center;
    height: 50px;
    width: 605px;
    padding-left: 21px;

    background: #FF732D;
}

.corp-cl__advant-ribbon::before,
.corp-cl__advant-ribbon::after {
    content: "";

    position: absolute;
    top: 50%;

    display: inline-block;
    width: 20px;
    height: 20px;

    background-color: #fff;
    border-radius: 50%;
}

.corp-cl__advant-ribbon::before {
    left: 0;

    transform: translate(-50%, -50%);
}
.corp-cl__advant-ribbon::after {
    right: 0;

    transform: translate(50%, -50%);
}

.corp-cl__advant-ribbon > h2 {
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;

    color: #FFF;
}

.corp-cl__advant-list {
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    padding-left: 7px;
    gap: 9px;
}

.corp-cl__advant-item {
    display: flex;
    align-items: center;
    gap: 14px;

    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;

    color: #464646;
}

.corp-cl__advant-item::before {
    content: "";

    height: 5px;
    width: 5px;

    background-color: #464646;
    border-radius: 50%;
}


.corp-cl__advant-img {
    width: 558px;
    height: 418px;

    background: no-repeat url('../i/corp-client-advantages-image.svg');
    background-size: contain;
    background-position: center;
}
/* END ПРЕИМУЩЕСТВА */


/* START ПЛЮСЫ КОРПОРАТИВНОГО КЛИЕНТА */
.corp-cl__pluses {
    width: 1307px;
    margin-top: 49px;
}

.corp-cl__pluses-title {
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #F60;
}

.corp-cl__pluses-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 48px;
    column-gap: 23px;
    row-gap: 28px;
}

.corp-cl__pluses-item {
    flex-shrink: 0;
}

.corp-cl__pluses-item-icon {
    height: 208px;
    width: 259px;
}

.corp-cl__pluses-icon-first {
    margin-left: -7px;

    background: no-repeat url('../i/team-spirit.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__pluses-icon_second {
    margin-left: 13px;

    background: no-repeat url('../i/team-trust.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__pluses-icon_third {
    margin-left: -13px;

    background: no-repeat url('../i/team-like.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__pluses-icon_fourth {
    margin-left: -12px;

    background: no-repeat url('../i/team-lamp.svg');
    background-size: contain;
    background-position: center;
}

.corp-cl__pluses-item-title {
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    color: #464646;
}

.corp-cl__pluses-item-text {
    margin-top: 9px;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-wrap: nowrap;
    white-space: nowrap;

    color: #464646;
}
/* END ПЛЮСЫ КОРПОРАТИВНОГО КЛИЕНТА */

/* START ФОРМА КОНСУЛЬТАЦИИ */
.corp-cl__support {
    width: 1224px;
    margin-top: 125px;
}
/* END ФОРМА КОНСУЛЬТАЦИИ */


/* START */
.corp-cl__reviews {
    margin-top: 75px;
}

.corp-cl__reviews-content {
    display: flex;
    justify-content: center;
    padding-top: 19px;
    padding-bottom: 44px;

    border-radius: 50px;
    background: rgba(255, 115, 45, 0.30);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.corp-cl__reviews-title {
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    color: #F60;
}

.corp-cl__swiper {
    margin-top: 43px;
}

.corp-cl__swiper-wrapper {
    display: flex;
    gap: 19px;
}
/* END */