.for-agency * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
    font-family: initial;
    font-size: initial;
    font-weight: initial;
    text-align: start;
    line-height: initial !important;
    white-space: initial;
    
    list-style-type: none;
    border: initial;
    border-radius: initial;
    outline: initial;
    color: initial;
    background-color: initial;
    box-shadow: initial;
    text-decoration: none;
    
    cursor: initial;
    appearance: auto;
}

input:focus, textarea:focus {
    outline: 0;
}

/* ==========*******************************========= */

.for-agency {
    padding-bottom: 109px;
}

/* START BANNER */
.for-agency__banner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
    height: 495px;

    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    background: no-repeat url('../i/for-agency-banner.webp');
    background-size: cover;
    background-position: center;
}

.for-agency__banner-content {
    width: 1257px;
    margin-top: 39px;
    padding: 25px 26px 36px;

    background: rgba(255, 255, 255, 0.30);
    border-radius: 50px;
    box-shadow: 0px 1px 1px 0px #FFF inset, 0px -2px 2px 1px rgba(0, 0, 0, 0.25) inset, 0px 0px 4px 0px rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(7.5px);
}

.for-agency__banner-wr-link {
    display: flex;
    justify-content: end;
}

.for-agency__banner-link {
    display: grid;
    place-items: center;
    width: 210px;
    height: 50px;
    
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    
    color: #FFF;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);
    
    cursor: pointer;
}

.for-agency__banner-link:hover {
    text-decoration: none;
    background: #ed5f00;
}

.for-agency__banner-list {
    display: flex;
    margin-top: 32px;
    flex-wrap: wrap;
    justify-content: end;
    row-gap: 22px;
}

.for-agency__banner-item {
    display: flex;
    min-width: fit-content;
    align-items: center;
    gap: 15px;
}

.for-agency__banner-item_years {
    width: 25.6%;
}

.for-agency__banner-item_start {
    width: 38%;
}

.for-agency__banner-item_oneday {
    width: 32.2%;
}

.for-agency__banner-item_several {
    width: 41.8%;
}

.for-agency__banner-item_clients {
    width: 50.4%;
}

.for-agency__banner-amount {
    font-family: 'Roboto';
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    text-wrap: nowrap;
    white-space: nowrap;
}

.for-agency__banner-amount_years {
    color: #B3DAFC;
}

.for-agency__banner-amount_start {
    color: #FCD4B3;
}

.for-agency__banner-amount_oneday {
    color: #FFFFBC;
}

.for-agency__banner-amount_several {
    color: #C7B3FC;
}

.for-agency__banner-amount_clients {
    color: #B3FCC7;
}

.for-agency__banner-descr > span {
    display: block;

    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-wrap: nowrap;
    white-space: nowrap;

    color: #FFF;
}
/* END BANNER */

/* баннер для ноутов с 1366 уменьшаем шрифты */

.for-agency__title {
    margin-top: 50px;

    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;

    color: #F60;
}

/* START 3 ШАГА ДЛЯ ПАРТНЕРСТВА */
.for-agency__steps {
    display: flex;
    width: 100%;
    margin-top: 37px;
    padding: 0 30px;
    justify-content: center;
}
.for-agency__steps-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    width: 1209px;
    padding: 55px 31px 21px;

    border-radius: 50px;
    border: 3px solid #7B7B7B;
}

.for-agency__steps-title {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 1;

    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.for-agency__steps-title > span {
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    text-wrap: nowrap;
    white-space: nowrap;
}

.for-agency__steps-link {
    display: grid;
    width: 97.677%;
    height: 75px;
    place-items: center;
    grid-row: 1;
    grid-column: 2/4;
    justify-self: end;

    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    
    color: #FFF;
    border-radius: 30px;
    background: #FF732D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.for-agency__steps-link:hover {
    text-decoration: none;
    background: #ed5f00;
}

.for-agency__steps-list {
    display: grid;
    margin-top: 52px;
    grid-row: 2;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
}

.for-agency__steps-num {
    font-family: 'Roboto';
    font-size: 75px;
    font-style: normal;
    font-weight: 800;

    color: #8A8D9B;
}

.for-agency__steps-text {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.for-agency__steps-text > span {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    color: #5A5D62;
}

.for-agency__steps-text > .for-agency__steps-text_bold {
    font-weight: 600;
}

.for-agency__steps-delimeter {
    width: 601px;
    height: 2px;
    margin: 65px auto 0;
    grid-row: 3;
    grid-column: 1/4;

    background: #D9D9D9;
}

.for-agency__steps-dop-info {
    grid-row: 4;
    grid-column: 1/4;
}

.for-agency__steps-dop-info {
    width: 91.5%;
    margin: 9px auto 0;
}

.for-agency__steps-dop-info > p {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    text-align: center;
    
    color: #464646;
}

.for-agency__steps-login {
    font-weight: 400;
}

.for-agency__steps-frta {
    margin-top: 18px;

    font-weight: 500;
}
/* END 3 ШАГА ДЛЯ ПАРТНЕРСТВА */

/* START ЛИЧНЫЙ КАБИНЕТ АГЕНТА */
.for-agency__acc {
    display: flex;
    width: 100%;
    margin-top: 87px;
    padding: 0 30px;
    justify-content: center;
}

.for-agency__acc-content {
    display: grid;
    grid-template-columns: min-content 1fr;
    width: 1137px;
}

.for-agency__acc-wr-title {
    padding-top: 14px;
}

.for-agency__acc-title {
    display: flex;
    flex-direction: column;

    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.for-agency__acc-title > span {
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    text-wrap: nowrap;
    white-space: nowrap;
}

.for-agency__acc-sub-title {
    display: flex;
    margin-top: 12px;
    flex-direction: column;
}

.for-agency__acc-sub-title > span {
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-wrap: nowrap;
    white-space: nowrap;

    color: #464646;
}

.for-agency__acc-list {
    display: flex;
    justify-content: end;
    gap: 11.7%;
}

.for-agency__acc-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.for-agency__acc-item-wr-img {
    position: relative;
    width: 100%;
    height: 168px;
}

.for-agency__acc-item-img {
    position: absolute;
    left: 0;
    bottom: 0;

    height: 168px;
}

.for-agency__acc-item-img_plain {
    transform: translate(-15%, 0);
}

.for-agency__acc-item-img_bus {
    transform: translate(-27%, 0);
}

.for-agency__acc-item-img_kremlin {
    transform: translate(-30%, 0);
}

.for-agency__acc-item-text {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}

.for-agency__acc-item-text > span {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-wrap: nowrap;
    white-space: nowrap;

    color: #7B7B7B;
}
/* END ЛИЧНЫЙ КАБИНЕТ АГЕНТА */

/* START ВОЗНАГРАЖДЕНИЕ */
.for-agency__award {
    display: flex;
    width: 100%;
    margin-top: 120px;
    padding: 0 30px;
    justify-content: center;
}

.for-agency__award-content {
    display: flex;
    width: 1137px;
    justify-content: space-between;
}

.for-agency__award-title {
    display: flex;
    flex-direction: column;
}

.for-agency__award-title > span {
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;

    background: linear-gradient(90deg, #F60 0%, #FF1572 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.for-agency__award-list {
    display: flex;
    margin-top: 33px;
    padding-left: 7px;
    flex-direction: column;
    gap: 36px;
}

.for-agency__award-item {
    display: flex;
    align-items: center;
    gap: 67px;
}

.for-agency__award-item-icon {
    width: 84px;
    height: 84px;

    filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.4));
}

.for-agency__award-item-icon_percent {
    background: no-repeat url('../i/for-agency-award-percent.svg');
    background-size: contain;
    background-position: center;
}

.for-agency__award-item-icon_graph {
    background: no-repeat url('../i/for-agency-award-graph.svg');
    background-size: contain;
    background-position: center;
}

.for-agency__award-item-icon_invoice {
    background: no-repeat url('../i/for-agency-award-invoice.svg');
    background-size: contain;
    background-position: center;
}

.for-agency__award-item-text {
    display: flex;
    width: 357px;
    flex-direction: column;
    gap: 19px;
}

.for-agency__award-item-text > span {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    color: #5A5D62;
}

.for-agency__award-item-text > span:last-child {
    font-size: 14px;
}

span.for-agency__award-item-text_bold {
    font-weight: 600;
}

.for-agency__award-img {
    width: 579px;
    height: 474px;

    background: no-repeat url('../i/for-agency-award.svg');
    background-size: contain;
    background-position: center bottom;
}
/* END ВОЗНАГРАЖДЕНИЕ */


/* START В ЛИЧНОМ КАБИНЕТЕ РАЗМЕЩЕНЫ */
.for-agency__in-acc {
    display: flex;
    width: 100%;
    margin-top: 79px;
    padding: 28px 30px 120px;
    justify-content: center;

    border-radius: 0px 0px 50px 50px;
    background: rgba(255, 115, 45, 0.50);
}

.for-agency__in-acc-content {
    width: 1209px;
}

.for-agency__in-acc-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.for-agency__in-acc-title > span {
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;

    color: #727272;
}

.for-agency__in-acc-list {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 39px;
}

.for-agency__in-acc-item {
    width: 25%;
    min-width: 302px;
    min-height: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;

    border-left: 4px solid #FF732D;
}

.for-agency__in-acc-item-text {
    display: flex;
    flex-direction: column;
}

.for-agency__in-acc-item-text > span {
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    color: #FFF;
}
/* END В ЛИЧНОМ КАБИНЕТЕ РАЗМЕЩЕНЫ */


/* START ФОРМА ПОДПИСКИ */
.for-agency__subscr {
    display: flex;
    width: 100%;
    margin-top: 79px;
    padding: 28px 30px 0;
    justify-content: center;
}

div.for-agency__subscr-wr-content {
    gap: 25px;
}

div.for-agency__subscr-wr-form-text {
    padding-top: 47px;

    background-position: right -1px top 137px;
}

h2.for-agency__subscr-title > span {
    text-align: center;

    color: #F60;
    background: none;
    -webkit-text-fill-color: initial;
}

.for-agency__subscr-text {
    visibility: hidden;
}

div.for-agency__subscr-cloud-l-t {
    top: 36.9px;
    left: -12.9%;
}
div.for-agency__subscr-cloud-l-b {
    top: 103px;
    left: 0.8%;
}

div.for-agency__subscr-cloud-r-t {
    right: 1.1%;
}
div.for-agency__subscr-cloud-r-b {
    right: 8.7%;
}

div.for-agency__subscr-img {
    background: no-repeat url('../i/for-agency-subscripbtion.webp');
    background-size: cover;
    background-position: center;
}
/* END ФОРМА ПОДПИСКИ */


/* START ДОКУМЕНТЫ КОНТАКТЫ */
.for-agency__docs-contacts {
    display: flex;
    width: 100%;
    margin-top: 100px;
    padding: 0 30px;
    justify-content: center;
}

.for-agency__docs-contacts-content {
    display: flex;
    width: 1083px;
    justify-content: space-between;
}

.for-agency__docs-contacts-wr-item {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    column-gap: 56px;
    row-gap: 3px;
}

.for-agency__docs {
    padding-bottom: 19px;
}

.for-agency__docs-contacts-icon {
    width: 80px;
    height: 80px;
    grid-row: 1;
    grid-column: 1;
}

.for-agency__docs-icon {
    background: no-repeat url('../i/icon-docs-folder-shield.svg');
    background-size: contain;
    background-position: center;
}

.for-agency__docs-contacts-title {
    grid-row: 1;
    grid-column: 2;

    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;

    color: #464646;
}

.for-agency__docs-contacts-data {
    grid-row: 2;
    grid-column: 2;
}

.for-agency__docs-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.for-agency__docs-item {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    color: #5A5D62;
}

.for-agency__docs-item > span {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    color: #5A5D62;
}

.for-agency__docs-edo-num {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
    color: #5A5D62;
}

.for-agency__docs-item::before{
    content: "";
    
    display: inline-block;
    height: 4px;
    width: 4px;
    margin-top: 7px;
    margin-right: 10px;

    background-color: #5A5D62;
    border-radius: 50%;

    vertical-align: top;
}

.for-agency__docs-link {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 3px;

    color: #5A5D62;

    cursor: pointer;
}

.for-agency__docs-contacts-delimeter {
    width: 4px;

    background: #D9D9D9;
}

.for-agency__contacts-icon {
    background: no-repeat url('../i/icon-notebook-contacts.svg');
    background-size: contain;
    background-position: center;
}

.for-agency__contacts-name {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    color: #5A5D62;
}

.for-agency__contacts-position {
    margin-top: 9px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #5A5D62;
}

.for-agency__contacts-address {
    margin-top: 11px;
}

.for-agency__contacts-address > a {
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
    color: #5A5D62;

    cursor: pointer;
}

.for-agency__contacts-address > a::before {
    content: "";

    display: inline-block;
    height: 20px;
    width: 20px;
}

.for-agency__contacts-phone-link::before {
    background: no-repeat url('../i/icon-phone.svg');
    background-size: contain;
    background-position: center;
}

.for-agency__contacts-email-link::before {
    background: no-repeat url('../i/icon-email.svg');
    background-size: contain;
    background-position: center;
}
/* END ДОКУМЕНТЫ КОНТАКТЫ */

/* START 1366 */
@media(max-width: 1366px) {
    .for-agency__banner {
        height: 406px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 1366px) {
    .for-agency__banner-content {
        width: 1084px;
        margin-top: 24px;
        padding: 19px 20px 27px;
    }
}

@media(max-width: 1366px) {
    .for-agency__banner-link {
        width: 200px;
        height: 46px;

        font-size: 15px;
    }
}

@media(max-width: 1366px) {
    .for-agency__banner-list {
        margin-top: 22px;
        row-gap: 16px;
    }
}

@media(max-width: 1366px) {
    .for-agency__banner-amount {
        font-size: 90px;
    }
}

@media(max-width: 1366px) {
    .for-agency__banner-descr > span {
        font-size: 20px;
    }
}
/* ------ */
@media(max-width: 1366px) {
    .for-agency__steps-content {
        width: 1044px;
        padding: 46px 28px 16px;
    }
}

@media(max-width: 1366px) {
    .for-agency__steps-title > span {
        font-size: 30px;
    }
}

@media(max-width: 1366px) {
    .for-agency__steps-link {
        width: 92.677%;
        height: 72px;
    }
}

@media(max-width: 1366px) {
    .for-agency__steps-list {
        margin-top: 44px;
        gap: 6.6%;
    }
}

@media(max-width: 1366px) {
    .for-agency__steps-num {
        font-size: 71px;
    }
}

@media(max-width: 1366px) {
    .for-agency__steps-text > span {
        font-size: 15px;
    }
}

@media(max-width: 1366px) {
    .for-agency__steps-delimeter {
        margin: 51px auto 0;
    }
}

@media(max-width: 1366px) {
    .for-agency__steps-dop-info {
        width: 89.5%;
    }
}

@media(max-width: 1366px) {
    .for-agency__steps-dop-info > p {
        font-size: 15px;
    }
}

/* ------- */

@media(max-width: 1366px) {
    .for-agency__acc-content {
        width: 982px;
    }
}

@media(max-width: 1366px) {
    .for-agency__acc-title > span {
        font-size: 32px;
    }
}

@media(max-width: 1366px) {
    .for-agency__acc-sub-title {
        margin-top: 9px;
    }
}

@media(max-width: 1366px) {
    .for-agency__acc-sub-title > span {
        font-size: 21px;
    }
}

@media(max-width: 1366px) {
    .for-agency__acc-list {
        gap: 8.7%;
    }
}

@media(max-width: 1366px) {
    .for-agency__acc-item-img {
        height: 161px;
    }
}

@media(max-width: 1366px) {
    .for-agency__acc-item-text > span {
        font-size: 15px;
    }
}

/* ----- */

@media(max-width: 1366px) {
    .for-agency__award {
        margin-top: 90px;
    }
}

@media(max-width: 1366px) {
    .for-agency__award-content {
        width: 982px;
    }
}

@media(max-width: 1366px) {
    .for-agency__award-title > span {
        font-size: 32px;
    }
}

@media(max-width: 1366px) {
    .for-agency__award-list {
        margin-top: 30px;
        gap: 31px;
    }
}

@media(max-width: 1366px) {
    .for-agency__award-item {
        gap: 41px;
    }
}

@media(max-width: 1366px) {
    .for-agency__award-item-icon {
        width: 78px;
        height: 78px;
    }
}

@media(max-width: 1366px) {
    .for-agency__award-item-text {
        width: 332px;
        gap: 10px;
    }
}

@media(max-width: 1366px) {
    .for-agency__award-item-text > span {
        font-size: 15px;
    }
}

@media(max-width: 1366px) {
    .for-agency__award-img {
        width: 484px;
        height: 396px;
    }
}

/* --------- */

@media(max-width: 1366px) {
    .for-agency__in-acc {
        padding: 28px 30px 104px;
    }
}

@media(max-width: 1366px) {
    .for-agency__in-acc-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 1366px) {
    .for-agency__in-acc-title > span {
        font-size: 30px;
    }
}

@media(max-width: 1366px) {
    .for-agency__in-acc-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 32px;
    }
}

@media(max-width: 1366px) {
    .for-agency__in-acc-item {
        min-width: auto;
        width: fit-content;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 16px;

        border-left: 3px solid #FF732D;
    }
}

@media(max-width: 1366px) {
    .for-agency__in-acc-item-text > span {
        font-size: 18px;

    }
}
/* END 1366 */


/* START 1195 */
@media(max-width: 1195px) {
    .for-agency__in-acc-list {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
}
/* ----- */
@media(max-width: 1195px) {
    div.for-agency__subscr-wr-content {
        gap: 7px;
    }
}

@media(max-width: 1195px) {
    div.for-agency__subscr-cloud-l-t {
        top: 15.9px;
        left: -0.9%;
    }
}

@media(max-width: 1195px) {
    div.for-agency__subscr-cloud-l-b {
        top: 146px;
        left: 23.8%;
    }
}

@media(max-width: 1195px) {
    .for-agency__docs-contacts-content {
        width: 988px;
    }
}

@media(max-width: 1195px) {
    .for-agency__docs-contacts-wr-item {
        column-gap: 46px;
        row-gap: 3px;
    }
}

@media(max-width: 1195px) {
    .for-agency__docs-contacts-icon {
        width: 75px;
        height: 75px;
    }
}

@media(max-width: 1195px) {
    .for-agency__docs-contacts-title {
        font-size: 32px;
    }
}

@media(max-width: 1195px) {
    .for-agency__docs-list {
        gap: 8px;
    }
}

@media(max-width: 1195px) {
    .for-agency__docs-item {
        font-size: 15px;
    }
}

@media(max-width: 1195px) {
    .for-agency__docs-link {
        font-size: 15px;
    }
}

@media(max-width: 1195px) {
    .for-agency__docs-contacts-delimeter {
        width: 3px;
    }
}

@media(max-width: 1195px) {
    .for-agency__contacts-name {
        font-size: 15px;
    }
}

@media(max-width: 1195px) {
    .for-agency__contacts-position {
        font-size: 13px;
    }
}

@media(max-width: 1195px) {
    .for-agency__contacts-address > a {
        gap: 9px;

        font-size: 15px;
    }
}

@media(max-width: 1195px) {
    .for-agency__contacts-address > a::before {
        width: 19px;
        height: 19px;
    }
}
/* START 1195 */

/* START 1024 */
@media(max-width: 1024px) {
    .for-agency {
        padding-bottom: 16.27vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__banner {
        height: 124.53vw;
        padding: 0;

        border-radius: 0px 0px 8vw 8vw;
        box-shadow: 0px 0px 1.60vw 0px rgba(0, 0, 0, 0.25);
        background: no-repeat url(../i/for-agency-banner-mobile.webp);
        background-size: cover;
        background-position: center;
    }
}

@media(max-width: 1024px) {
    .for-agency__banner-content {
        width: 89.34%;
        margin-top: 8.80vw;
        padding: 3.3vw 0 9.87vw;

        border-radius: 8vw;
        box-shadow: 0px 0.27vw 0.27vw 0px #FFF inset, 0px -0.53vw 0.53vw 0.27vw rgba(0, 0, 0, 0.25) inset, 0px 0px 1.07vw 0px rgba(0, 0, 0, 0.40);
    }
}

@media(max-width: 1024px) {
    .for-agency__banner-wr-link {
        padding-right: 3vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__banner-link {
        width: 47.47vw;
        height: 10.67vw;

        font-size: 3.73vw;

        border-radius: 6.67vw;
        box-shadow: 0px 1.07vw 1.07vw 0px rgba(0, 0, 0, 0.25), 0px 0px 1.87vw 0.53vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 1024px) {
    .for-agency__banner-list {
        margin-top: 8.80vw;
        padding-left: 8vw;
        padding-right: 8vw;
        justify-content: space-between;
        row-gap: 10.6vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__banner-item {
        flex-direction: column;
        width: auto;
        gap: 0;
    }

    .for-agency__banner-item_years {
        order: 1;
    }
    .for-agency__banner-item_start {
        order: 2;
    }
    .for-agency__banner-item_oneday {
        order: 4;
    }
    .for-agency__banner-item_several {
        order: 5;
    }
    .for-agency__banner-item_clients {
        margin: 0 auto;
        order: 3;
    }
}

@media(max-width: 1024px) {
    .for-agency__banner-amount {
        font-size: 14.67vw;
        line-height: 0.75 !important;
    }
}


@media(max-width: 1024px) {
    .for-agency__banner-descr > span {
        font-size: 3.73vw;
        text-align: center;
    }
}

@media(max-width: 1024px) {
    .for-agency__banner-descr_years > span,
    .for-agency__banner-descr_start > span,
    .for-agency__banner-descr_clients > span {
        display: inline-block;
    }
}

/* ------ */

@media(max-width: 1024px) {
    .for-agency__title {
        margin-top: 6.13vw;

        font-size: 6.40vw;
    }
}

/* ------- */

@media(max-width: 1024px) {
    .for-agency__steps {
        margin-top: 6.67vw;
        padding: 0;
    }
}

@media(max-width: 1024px) {
    .for-agency__steps-content {
        width: 89.34%;
        padding: 9.67vw 5.13vw 12.8vw;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, min-content);

        border-radius: 8vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__steps-title > span {
        font-size: 6.40vw;
        text-align: center;
    }
}

@media(max-width: 1024px) {
    .for-agency__steps-link {
        width: 100%;
        height: 13.33vw;
        margin-top: 2.67vw;
        grid-row: 5;
        grid-column: 1;
        justify-self: initial;

        font-size: 4.27vw;

        border-radius: 8vw;
        box-shadow: 0px 1.07vw 1.07vw 0px rgba(0, 0, 0, 0.25), 0px 0px 1.87vw 0.53vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 1024px) {
    .for-agency__steps-list {
        display: flex;
        margin-top: 6.40vw;
        grid-row: 2;
        grid-column: 1;
        flex-direction: column;
        gap: 11.47vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__steps-num {
        font-size: 20vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__steps-text {
        gap: 2.67vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__steps-text > span {
        font-size: 4.27vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__steps-delimeter {
        width: 66.67vw;
        height: 0.53vw;
        grid-row: 3;
        grid-column: 1;
        margin: 6.43vw auto 0;
    }
}

@media(max-width: 1024px) {
    .for-agency__steps-dop-info {
        width: 100%;
        margin-top: 3.7vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__steps-dop-info > p {
        font-size: 4.27vw;
        text-align: start;
    }

    .for-agency__steps-frta {
        margin-top: 4.80vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__acc {
        padding: 0;
        margin-top: 10.67vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__acc-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 1024px) {
    .for-agency__acc-wr-title {
        padding-top: 0;
    }
}

@media(max-width: 1024px) {
    .for-agency__acc-title {
        display: block;
    }

    .for-agency__acc-title > span {
        font-size: 6.40vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__acc-sub-title {
        display: block;
        margin-top: 0;
        text-align: center;
    }
}

@media(max-width: 1024px) {
    .for-agency__acc-sub-title > span {
        font-size: 4.27vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__acc-list {
        margin-top: 9vw;
        gap: 12vw;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
    }
}

@media(max-width: 1024px) {
    .for-agency__acc-item-wr-img {
        position: static;
        width: 100%;
        height: 42.03vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__acc-item-img {
        position: static;

        height: 100%;
        width: 100%;
        
        object-fit: contain;
        object-position: center;
        transform: translate(-9.6vw, 0);
    }
}

@media(max-width: 1024px) {
    .for-agency__acc-item-text {
        margin-top: 4vw;
    }

    .for-agency__acc-item-text_bus,
    .for-agency__acc-item-text_kremlin {
        display: block;
    }

    .for-agency__acc-item-text > span {
        font-size: 3.73vw;
    }
}

/* ------- */

@media(max-width: 1024px) {
    .for-agency__award {
        margin-top: 12.53vw;
        padding: 0;
    }
}

@media(max-width: 1024px) {
    .for-agency__award-content {
        width: 100%;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
    }
}

@media(max-width: 1024px) {
    .for-agency__award-title {
        align-items: center;
    }
}

@media(max-width: 1024px) {
    .for-agency__award-title > span {
        font-size: 6.40vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__award-list {
        margin-top: 2.7vw;
        padding-left: 0;
        align-items: center;
        gap: 8.7vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__award-item {
        width: 89.34%;
        gap: 6.1vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__award-item-icon {
        height: 17.4vw;
        width: 17.4vw;
        flex-shrink: 0;

        filter: drop-shadow(-0.80vw 0.80vw 1.33vw rgba(0, 0, 0, 0.4));
    }

    .for-agency__award-item-icon_graph,
    .for-agency__award-item-icon_invoice {
        align-self: start;
    }
}

@media(max-width: 1024px) {
    .for-agency__award-item-text {
        width: auto;
        gap: 4.5vw;
    }

    .for-agency__award-item-text > span {
        font-size: 4.27vw;
    }
    .for-agency__award-item-text > span:last-child {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__award-img {
        width: 100%;
        height: 112.5vw;

        background-size: 153.8% auto;
    }
}

/* ------ */

@media(max-width: 1024px) {
    .for-agency__in-acc {
        margin-top: -7vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__in-acc {
        padding: 16.2vw 0 16.6vw;

        border-radius: 0px 0px 8vw 8vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__in-acc-content {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .for-agency__in-acc-title {
        align-items: center;
    }

    .for-agency__in-acc-title > span {
        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__in-acc-list {
        display: flex;
        width: 89.34%;
        margin-top: 11.3vw;
        padding-left: 4.53vw;
        flex-direction: column;
        align-items: start;
        gap: 6.13vw;

        border-left: 4px solid #FF732D;
    }
}

@media(max-width: 1024px) {
    .for-agency__in-acc-item {
        min-height: 11.73vw;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;

        border-left: none;
    }
}

@media(max-width: 1024px) {
    .for-agency__in-acc-item-text > span {
        font-size: 5.33vw;
    }
}

/* ------- */

@media(max-width: 1024px) {
    .for-agency__subscr {
        margin-top: 8.3vw;
        padding: 0;
    }
}

@media(max-width: 1024px) {
    div.for-agency__subscr-wr-content {
        width: 89.34%;;
        gap: 0;
    }
}

@media(max-width: 1024px) {
    div.for-agency__subscr-wr-form-text {
        padding-top: 8.6vw;
        background-position: right -1px top 137px;
    }
}

@media(max-width: 1024px) {
    h2.for-agency__subscr-title > span {
        font-size: 5.33vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__subscr-text {
        display: none;
    }
}

@media(max-width: 1024px) {
    div.for-agency__subscr-wr-form {
        margin-top: 3.7vw;
    }
}

@media(max-width: 1024px) {
    div.for-agency__subscr-cloud-l-t {
        top: 0;
        left: 6.7%;
    }
}

@media(max-width: 1024px) {
    div.for-agency__subscr-cloud-l-b {
        top: 1.4vw;
        left: -8.2%;
    }
}

@media(max-width: 1024px) {
    div.for-agency__subscr-cloud-r-t {
        right: -0.1%;
        top: 21.8vw;
    }
}

@media(max-width: 1024px) {
    div.for-agency__subscr-cloud-r-b {
        top: 22.4vw;
        right: 6.8%;
    }
}

/* ----- */

@media(max-width: 1024px) {
    .for-agency__docs-contacts {
        margin-top: 16.8vw;
        padding: 0;
    }
}

@media(max-width: 1024px) {
    .for-agency__docs-contacts-content {
        width: 89.34%;
        flex-direction: column;
        justify-content: initial;
        gap: 14vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__docs {
        padding-bottom: 0;
    }

    .for-agency__docs-contacts-wr-item {
        column-gap: 3vw;
        row-gap: 6.7vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__docs-contacts-icon {
        height: 10.67vw;
        width: 10.67vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__docs-contacts-title {
        align-self: end;

        font-size: 6.40vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__docs-list {
        gap: 3.7vw;
    }

    .for-agency__docs-contacts-data {
        grid-column: 1 / 3;
    }
}

@media(max-width: 1024px) {
    .for-agency__docs-item {
        font-size: 3.73vw;
    }
    .for-agency__docs-item > span {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__docs-item::before {
        height: 0.80vw;
        width: 0.80vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__docs-link {
        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__docs-edo-num {
        font-size: 3.345vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__docs-contacts-delimeter {
        display: none;
    }
}

@media(max-width: 1024px) {
    .for-agency__contacts-name {
        font-size: 4.27vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__contacts-position {
        margin-top: 2.40vw;

        font-size: 3.73vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__contacts-address {
        margin-top: 4vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__contacts-address > a {
        gap: 2.67vw;

        font-size: 4.27vw;
    }
}

@media(max-width: 1024px) {
    .for-agency__contacts-address > a::before {
        height: 5.33vw;
        width: 5.33vw;
    }
}
/* END 1024 */