.lkt__main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
    font-family: initial;
    font-size: initial;
    font-weight: initial;
    text-align: start;
    line-height: initial !important;
    white-space: initial;
    
    list-style-type: none;
    border: initial;
    border-radius: initial;
    outline: initial;
    color: initial;
    background-color: initial;
    box-shadow: initial;
    
    cursor: initial;
    appearance: auto;
}

input:focus, textarea:focus {
    outline: 0;
}

/* ========================= */

.lkt__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lkt__main-title {
    margin-top: 78px;

    font-family: 'Roboto';
    font-size: 26px;
    font-style: normal;

    color: #F60;
}

.lkt__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
}

/* START ASIDE */

.lkt__aside {
    width: 331px;
}

/* Проофайл */
.lkt-profile {
    position: relative;
    
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    overflow: hidden;
}

.lkt-profile__header {
    display: flex;
    align-items: center;
    height: 58px;
    padding-left: 16px;

    background: #FF732D;
}

.lkt-profile__title {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;

    color: #FFF;
}


.lkt-profile__content {
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 21px;

    background-color: #F2F2F2;
}

.lkt-profile__list {
    display: flex;
    flex-direction: column;
    width: 242px;
    gap: 7px;
}

.lkt-profile__item {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 15px;
    
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: #5A5D62;
    border-bottom: 1px solid #979797;
}

.lkt-profile__confirmed {
    display: flex;
    justify-content: space-between;
}

.lkt-profile__not-confirmed_orange {
    border-bottom: 1px solid #F60;
}

.lkt-profile__confirmed::after {
    content: "";

    width: 15px;
    height: 12px;

    background: no-repeat url('../i/check-mark-green.svg');
    background-size: contain;
    background-position: center;
}

.lkt-profile__form {
    display: flex;
    justify-content: space-between;
}

.lkt-profile__input {
    width: 59%;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: #5A5D62;
}

.lkt-profile__input::placeholder {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: italic;
    font-weight: 300;

    color: #5A5D62;
}

.lkt-profile__input:focus::placeholder {
    visibility: hidden;
}

.lkt-profile__wr-buttons {
    display: flex;
    margin-right: -15px;
    gap: 7px;
}

.lkt-profile__button {
    display: none;
    place-items: center;
    width: 73px;
    height: 20px;

    font-family: 'Roboto';
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    
    color: #FFF;
    border-radius: 2px;
    background: #F60;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.lkt-profile__button:hover {
    background-color: #ed5f00;
}

.lkt-profile__button:active {
    box-shadow: none;
}

.lkt-profile__button_active {
    display: grid;
}

.lkt-profile__edit {
    width: 20px;
    height: 20px;

    border-radius: 2px;
    background-color: #FFF;
    background-image: url('../i/icon-pencil.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    box-shadow: 2px 2px 4.3px -1px rgba(0, 0, 0, 0.25);
    
    cursor: pointer;
}

.lkt-profile__edit:hover {
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.25);

}

.lkt-profile__edit:active {
    box-shadow: none;
}



.lkt-profile__email {
    display: none;
}
.lkt-profile__email_active {
    display: flex;
}

.lkt-profile__footer {
    margin-top: 22px;
}

.lkt-profile__logout {
    display: flex;
    align-items: center;
    gap: 5px;
    
    cursor: pointer;
}

.lkt-profile__logout::before {
    content: "";
    
    width: 13px;
    height: 16px;
    
    background: no-repeat url('../i/icon-logout.svg');
    background-size: contain;
    background-position: center;
}

.lkt-profile__logout > span {
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    
    color: #464646;
    line-height: 0.8 !important;
    margin-top: 3px;

    cursor: pointer;
}

.lkt-profile__dots-list {
    position: absolute;
    top: 0;
    right: 20px;

    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 4px;
    gap: 9px;
}

.lkt-profile__dots-item {
    height: 10px;
    width: 10px;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.5);
}

/* Задать вопрос */
.lkt-question-aside {
    display: flex;
    align-items: center;
    height: 90px;
    margin-top: 17px;
    padding-left: 16px;

    border-radius: 10px;
	background-color: #F2F2F2;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.lkt-question-aside__button {
    display: flex;
    align-items: center;
    width: 271px;
    height: 40px;
    padding-left: 15px;
    gap: 10px;

    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;

    color: #5A5D62;
    border-bottom: 1px solid #979797;

    cursor: pointer;
}

.lkt-question-aside__button:hover {
    text-decoration: underline;
}

.lkt-question-aside__button::before {
    content: "";

    width: 22px;
    height: 22px;

    background: no-repeat url('../i/icon-ask-question.svg');
    background-size: contain;
    background-position: center;
}

/* Документы */
.lkt-docs {
    display: none;
    margin-top: 20px;
    padding-bottom: 24px;

    border-radius: 10px;
	background-color: #F2F2F2;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);

    overflow: hidden;
}

.lkt-docs_active {
    display: block;
}

.lkt-docs::before {
    content: "";

    display: block;
    height: 20px;

    background: #FF732D;

    transform: translate(0, -50%);
}

.lkt-docs__content {
    padding-left: 16px;
}

.lkt-docs__title {
    display: flex;
    align-items: center;
    width: 271px;
    height: 40px;
    margin-top: 9px;
    padding-left: 15px;

	font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

	color: #FF732D; 
    border-bottom: 1px solid #979797;
}

.lkt-docs__item {
    width: 271px;
    height: 40px;
    padding-left: 15px;

	border-bottom: 1px solid #979797;
}

.lkt-docs__link {
	display: flex;
	align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

	color: #5A5D62;

    text-decoration: none;

    cursor: pointer;
}

.lkt-docs__link_disabled {
	opacity: 0.5;
	pointer-events: none;
}


.lkt-docs__link:hover {
    text-decoration: underline;
}

.lkt-docs__link_package::before,
.lkt-docs__link_programm::before,
.lkt-docs__link_financial::before,
.lkt-docs__link_memo::before,
.lkt-docs__link_conditions::before,
.lkt-docs__link_offer::before {
    content: "";

    width: 22px;
    height: 25px;
    flex-shrink: 0;

    background: no-repeat url('../i/pdf_icon.svg');
    background-size: contain;
    background-position: center;
}

.lkt-docs__link_change::before {
    content: "";

    height: 22px;
    width: 22px;
    flex-shrink: 0;

    background: no-repeat url('../i/icon-folder-sheet.svg');
    background-size: contain;
    background-position: center;
}

.lkt-docs__link_cancel::before {
    content: "";

    height: 23px;
    width: 18px;
    flex-shrink: 0;

    background: no-repeat url('../i/icon-cracked-shield.svg');
    background-size: contain;
    background-position: center;
}

.lkt-docs__item_hidden {
    display: none;
}

/* END ASIDE */

/* START CONTENT */
.lkt-main {
    width: 801px;
}

/* табы */
.lkt__header-list {
    display: flex;
    justify-content: space-between;

    perspective: 700px;
}

.lkt__header-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 253px;
    height: 56px;
    gap: 3px;
    
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
    color: #FFF;
    border-radius: 10px 10px 0px 0px;
    background-color: #FF732D;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    
    transition: transform 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
    
    transform-style: preserve-3d;
    
    cursor: pointer;
    user-select: none;
}

.lkt__header-item:hover {
    background-color: #ed5f00;
    transform: translate(0, -4%) scale(1.01);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
}

.lkt__header_journeys::before {
    content: "";
    height: 26px;
    width: 27px;
    transform: initial;
    background: no-repeat url('../i/icon-lkt-tourist.svg');
    background-size: contain;
    background-position: center;

    transform-style: preserve-3d;
}
.lkt__header_history::before {
    content: "";

    height: 26px;
    width: 27px;

    background: no-repeat url('../i/icon-lkt-history-book.svg');
    background-size: contain;
    background-position: center;

    transform-style: preserve-3d;
}
.lkt__header_favorites::before {
    content: "";

    height: 26px;
    width: 27px;

    background: no-repeat url('../i/icon-heart-transparent-white-border.svg');
    background-size: contain;
    background-position: center;

    transform-style: preserve-3d;
}

.lkt__header_active {
    background: linear-gradient(90deg, #FF732D 0%, #F32F2F 100%);

    pointer-events: none;
}

/* Экземпляр контента */
.lkt-main__content-item {
    display: none;
}

div[data-content="journeys"] > div[data-item="journeys"] {
    display: block;
}
div[data-content="order"] > div[data-item="order"] {
    display: block;
}
div[data-content="history"] > div[data-item="history"] {
    display: block;
}
div[data-content="favorites"] > div[data-item="favorites"] {
    display: block;
}
div[data-content="question"] > div[data-item="question"] {
    display: block;
}
div[data-content="change"] > div[data-item="change"] {
    display: block;
}
div[data-content="annulation"] > div[data-item="annulation"] {
    display: block;
}

/* Список мои путешествия */
.lkt__journeys {
    margin-top: 18px;
}

.lkt__journeys-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.lkt__journeys-item {
    display: flex;
    height: 222px;

    border-radius: 10px;
    background: #F2F2F2;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);

    overflow: hidden;
}

.lkt__journeys-img {
    width: 371px;
    height: 222px;
    flex-shrink: 0;
}

.lkt__journeys-img > img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.lkt__journeys-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 15px 16px 17px 14px;
}

.lkt__journeys-content-top {
    display: grid;
    grid-template-columns: min-content 1fr 122px;
    grid-template-rows: repeat(4, min-content);
}

.lkt__journeys-number {
    align-self: center;
    grid-column: 1;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    text-wrap: nowrap;

    color: #F60;
}

.lkt__journeys-number-link {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    text-wrap: nowrap;

    color: #F60;
    text-decoration: none;

    cursor: pointer;
}
.lkt__journeys-number-link:hover {
    color: #ed5f00;
    text-decoration: underline;
}

.lkt__journeys-warning {
    display: flex;
    align-items: center;
    margin-left: 9px;
    grid-column: 2;
    gap: 5px;

    font-family: 'Roboto';
    font-size: 10px;
    font-style: normal;
    font-weight: 500;

    color: #000;
}

.lkt__journeys-warning::before {
    content: "";

    width: 21px;
    height: 21px;

    background: no-repeat url('../i/icon-attention.svg');
    background-size: contain;
    background-position: center;
}

.lkt__journeys-price {
    align-self: center;
    justify-self: center;
    grid-column: 3;

    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    text-wrap: nowrap;
    
    color: #FF732D;
}

.lkt__journeys-price > span {
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    text-wrap: nowrap;
    
    color: #FF732D;
}

.lkt__journeys-name {
    margin-top: 11px;
    grid-row: 2;
    grid-column: 1 / 3;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: #464646;
}

.lkt__journeys-name-link {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: #464646;
    text-decoration: none;

    cursor: pointer;
}

.lkt__journeys-name-link:hover {
    text-decoration: underline;
}

.lkt__journeys-route {
    margin-top: 7px;
    grid-row: 3;
    grid-column: 1 / 3;

    font-family: 'Roboto';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;

    color: #464646;
}

.lkt__journeys-data {
    display: flex;
    margin-top: 10px;
    gap: 23px;
    grid-row: 4;
    grid-column: 1 / 3;
}

.lkt__journeys-date {
    display: flex;
    gap: 10px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #464646;
}

.lkt__journeys-date::before {
    content: "";

    width: 17px;
    height: 17px;
    flex-shrink: 0;

    background: no-repeat url('../i/icon-calendar-lkt.svg');
    background-size: contain;
    background-position: center;
}

.lkt__journeys-doc {
    height: 20px;
    width: 17px;

    background: no-repeat url('../i/pdf_icon.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.lkt__journeys-content-bottom {
    display: flex;
    justify-content: space-between;
}

.lkt__journeys-wr-state {
    align-self: end;
}

.lkt__journeys-wr-state > div {
    display: none;
}

.lkt__journeys-wr-state[data-state="booking"] > div[data-state="booking"] {
    display: block;
}
.lkt__journeys-wr-state[data-state="paid"] > div[data-state="paid"] {
    display: block;
}
.lkt__journeys-wr-state[data-state="cancelled"] > div[data-state="cancelled"] {
    display: block;
}
.lkt__journeys-wr-state[data-state="annulation"] > div[data-state="annulation"] {
    display: block;
}
.lkt__journeys-wr-state[data-state="annulated-refund"] > div[data-state="annulated"], 
.lkt__journeys-wr-state[data-state="annulated"] > div[data-state="annulated"] {
    display: block;
}

.lkt__journeys-state {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: #464646;
}

.lkt__journeys-state > span {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: #464646;
}

.lkt__journeys-state_orange {
    color: #FF732D;
}

.lkt__journeys-comment {   
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #464646;
}

.lkt__journeys-comment > span {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #464646;
}

.lkt__journeys-comment_annulated {
    display: none;
}

.lkt__journeys-comment_bold {
    font-weight: 500;
}

.lkt__journeys-wr-state[data-state="annulated-refund"] .lkt__journeys-comment_annulated[data-state="refund"], 
.lkt__journeys-wr-state[data-state="annulated"] .lkt__journeys-comment_annulated[data-state="end"] {
    display: block;
}

.lkt__journeys-pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -7px;
}

.lkt__journeys-pay-summ {
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    color: #000; 
}

.lkt__journeys-pay-summ > span {
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

    color: #000;
}

.lkt__journeys-before {
    font-family: 'Roboto';
    font-size: 8px;
    font-style: normal;
    font-weight: 400;

    color: #464646;
}

.lkt__journeys-wr-button {
    margin-top: 11px;
}

.lkt__journeys-button {
    display: grid;
    place-items: center;
    width: 122px;
    height: 30px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;
    text-decoration: none;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.lkt__journeys-button:hover {
    background: #ed5f00;
}


/* Заказ */
.lkt-order {
    margin-top: 18px;
}

.lkt-order__data {
    padding-bottom: 19px;

    border-radius: 10px;
    background: #F2F2F2;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.lkt-order__data-head {
    box-shadow: none;
}

.lkt-order__data-head-content {
    padding-bottom: 0;
}

.lkt-order__data-head-pay {
    margin-bottom: 0;
}

.lkt-order__data-body {
    width: 734px;
    margin: 29px auto 0;

    border-style: solid;
    border-width: 2px 0 0 0;
    border-image-source: linear-gradient(90deg, #F60 0%, #FF1572 100%);
    border-image-slice: 10 0 0 0;
    border-image-repeat: stretch;
}

.lkt-order__data-number {
    cursor: default;
}

.lkt-order__data-name {
    cursor: default;
}
.lkt-order__data-name:hover {
    text-decoration: none;
}

.lkt-order__data-opener {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding-left: 34px;
    padding-right: 34px;

    border-bottom: 2px solid #D9D9D9;

    cursor: pointer;
}

.lkt-order__data-opener-text {
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;

    color: #FF732D;
}

.lkt-order__data-opener-icon {
    width: 19px;
    height: 12px;
    flex-shrink: 0;

    background: no-repeat url('../i/arrow-vertical-opener.svg');
    background-size: contain;
    background-position: center;

    transition: transform 0.3s linear;
}

.lkt-order__data-opener_active > .lkt-order__data-opener-icon {
    transform: rotate(180deg);
}

.lkt-order__data-content {
    opacity: 0;

    overflow: hidden;

    transition: height 0.3s linear, opacity 0.2s linear;
}

.lkt-order__data-opener_active + .lkt-order__data-content {
    opacity: 1;
}

.lkt-order__data-people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding-left: 34px;
    padding-right: 34px;

    border-bottom: 2px solid #D9D9D9;
}

.lkt-order__data-people-list {
    display: flex;
    gap: 25px;
}

.lkt-order__data-people-item {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: #242424;
}

.lkt-order__data-people-item > span {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: #242424;
}

.lkt-order__data-people-total {
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;

    color: #FF732D;
}
.lkt-order__data-people-total > span {
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;

    color: #FF732D;
}

.lkt-order__data-hotels-list {
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 13px;

    border-bottom: 2px solid #D9D9D9;
}

.lkt-order__data-hotels-item {
    margin-top: 14px;
}

.lkt-order__data-hotels-title {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;

    color: #242424;
}

.lkt-order__hotel-rooms-list {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    gap: 20px;
}

.lkt-order__hotel-room-title {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    color: #242424;
}

.lkt-order__room-places-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 4px;
}

.lkt-order__room-places-item {
    display: flex;
    justify-content: space-between;
}

.lkt-order__room-place-name {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #828282;
}

.lkt-order__place-price {
    display: flex;
    gap: 25px;
}

.lkt-order__place-price-calc {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #5A5D62;
}
.lkt-order__place-price-calc > span {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #5A5D62;
}

.lkt-order__place-price-total {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #5A5D62;
}
.lkt-order__place-price-total > span {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #5A5D62;
}

.lkt-order__data-services {
    margin-top: 14px;
    padding-left: 34px;
    padding-right: 34px;
}

.lkt-order__data-services-title {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    color: #242424;
}

.lkt-order__data-services-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.lkt-order__data-services-item {
    display: flex;
    justify-content: space-between;
}

.lkt-order__data-services-name {
    display: flex;
    flex-direction: column;
}

.lkt-order__data-services-name > span {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: #242424;
}

.lkt-order__data-services-name > .lkt-order__data-services-comment {
    font-weight: 400;
}

.lkt-order__data-services-calc {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #242424;
}
.lkt-order__data-services-calc > span {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #242424;
}

.lkt-order__orderer {
    margin-top: 24px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 28px;

    border-radius: 10px;
    background: #F2F2F2;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.lkt-order__orderer-title {
    width: fit-content;
    margin: 16px auto 0;

    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: center;

    background:linear-gradient(90deg, #F60 0%, #FF1572 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lkt-order__orderer-info {
    margin-top: 23px;
}

.lkt-order__orderer-question {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    color: #7B7B7B;
}

.lkt-order__orderer-list {
    margin-top: 10px;
}

.lkt-order__orderer-item {
    display: flex;
    padding-left: 7px;
    gap: 8px;
}

.lkt-order__orderer-item::before {
    content: "";

    display: inline-block;
    height: 3px;
    width: 3px;
    margin-top: 7px;
    flex-shrink: 0;

    background-color: #828282;
    border-radius: 50%;
}

.lkt-order__orderer-text {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #828282;
}

.lkt-order__orderer-link {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #828282;

    cursor: pointer;
}

.lkt-order__orderer-form-wrapper {
    margin-top: 45px;
}


.lkt-order__orderer-wr-input {
    width: 240px;
}

.lkt__label {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.lkt__input-title {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #828282;

    cursor: pointer;
}

.lkt__input-title::after {
    content: "*";

    display: inline-block;

    color: #F00;

    transform: translate(0, -15%);
}

.lkt__input-text {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
    color: #5A5D62;
    border-radius: 50px;
    border: 1px solid #828282;
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.lkt__select {
    position: relative;

    width: 100%;
}

.lkt__label-select {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.lkt__input-select {
    display: flex;
    align-items: center;

    background-image: url('../i/arrow-vertical-opener.svg');
    background-repeat: no-repeat;
    background-size: 12px 7px;
    background-position: right 19px center;

    cursor: pointer;
    user-select: none;
}

.lkt__checkbox_hide {
    display: none;
}

.lkt__select-list {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px;
    gap: 5px;
    
    color: #5A5D62;
    border-radius: 13px;
    border: 1px solid #828282;
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    opacity: 0;

    transition: opacity 0.2s linear;

    transform: translate(0, 102%);

    overflow: hidden;
    visibility: hidden;
}

.lkt__checkbox_hide:checked + .lkt__select-list {
    visibility: visible;
    opacity: 1;
}

.lkt__input-item > label {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    cursor: pointer;
    user-select: none;
}


/* История */

.lkt-history {
    margin-top: 18px;
}

.lkt-history__content {
    padding: 15px 16px 0 14px;
}

.lkt-history__wr-state {
    width: 100%;
}

.lkt-history__wr-state[data-state="paid"] > div[data-state="paid"],
.lkt-history__wr-state[data-state="annulated"] > div[data-state="annulated"],
.lkt-history__wr-state[data-state="cancelled"] > div[data-state="cancelled"],
.lkt-history__wr-state[data-state="completed"] > div[data-state="completed"],
.lkt-history__wr-state[data-state="in-progress"] > div[data-state="in-progress"] {
    display: flex;
}

.lkt-history__wr-state > div {
    margin-bottom: 24px;
}

.lkt-history__wr-state > .lkt-history__wr-completed {
    margin-bottom: 17px;
    align-items: center;
    justify-content: space-between;
}

.lkt-history__reviews-button {
    width: 142px;
    height: 30px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    
    color: #FFF;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.lkt-history__reviews-button:hover {
    background-color: #ed5f00;
}

/* Избранное */
.lkt-favorites {
    margin-top: 18px;
}

.lkt-favorites__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.62%;
    row-gap: 25px;
}

.lkt-favorites__item {
    position: relative;

    width: 31.57%;
    height: 307px;

    border-radius: 8px;

    transition: transform 0.2s linear, box-shadow 0.2s linear;

    overflow: hidden;
}

.lkt-favorites__item:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    transform: scale(1.012);
}

.lkt-favorites__item-img {
    height: 100%;
    width: 100%;
    
    object-fit: cover;
    object-position: center top;
}

.lkt-favorites__item-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.lkt-favorites__item-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    cursor: pointer;
}

.lkt-favorites__item-heart {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 4;

    width: 26px;
    height: 24px;

    background: no-repeat url('../i/lkt-favorites-heart.svg');
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.3));

    transition: transform 0.2s linear;

    cursor: pointer;
}

.lkt-favorites__item-heart:hover {
    transform: scale(1.1);
}

.lkt-favorites__item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 121px;
    width: 100%;
    padding: 14px 10px 15px;

    background: linear-gradient(180deg, rgba(208, 208, 208, 0.60) 0%, rgba(70, 70, 70, 0.60) 100%);
    box-shadow: -4px -4px 5.4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
}

.lkt-favorites__item-title {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.lkt-favorites__item-text {
    display: -webkit-box;
    height: 34px;
    width: 78%;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #FFF;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
}

.lkt-favorites__item-button-link {
    position: absolute;
    right: 10px;
    bottom: 11px;
    z-index: 10;

    width: 40px;
    height: 40px;
    flex-shrink: 0;

    background-color: rgb(255, 115, 45);
    background-image: url('../i/arrow-to-right-white.svg');
    background-repeat: no-repeat;
    background-size: 30px 14px;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 0px 5.5px 2px rgba(0, 0, 0, 0.25);

    transition: transform 0.2s linear, background-color 0.2s linear;

    cursor: pointer;
}

.lkt-favorites__item-button-link:hover {
    background-color: rgb(237, 95, 0);
    transform: scale(1.03);
}

/* Задать вопрос */
.lkt-question {
    margin-top: 38px;
}

.lkt-question__title {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    color: #F60;
}

.lkt-question__form {
    margin-top: 20px;
}

.lkt__textarea-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 11px;
}

.lkt__textarea-title {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #828282;
}

.lkt__wr-textarea {
    position: relative;
    width: 100%;
    height: 186px;
}

.lkt__textarea {
    height: 100%;
    width: 100%;
    padding: 15px 20px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
    color: #828282;
    border-radius: 20px;
    border: 1px solid #828282;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);

    resize: none;
}

.lkt__textarea-counter {
    position: absolute;
    right: 12px;
    bottom: 12px;

    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

    color: #7B7B7B;
}

.lkt__textarea-counter > span {
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

    color: #7B7B7B;
}

.lkt-question__wr-button {
    display: flex;
    margin-top: 70px;
    justify-content: end;
}

.lkt-question__button {
    display: grid;
    place-items: center;
    width: 213px;
    height: 40px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
    color: #FFF;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.lkt-question__button:hover {
    background-color: #ed5f00;
}

.lkt-question__button:active {
    box-shadow: none;
}

/* Изменения по заказу */
.lkt-change {
    margin-top: 38px;
}

.lkt-change__title {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    color: #F60;
}

.lkt-change__form {
    margin-top: 20px;
}

.lkt-change__wr-input {
    width: 351px;
    margin-top: 26px;
}

.lkt-change__wr-textarea {
    margin-top: 22px;
}

.lkt-change__wr-button {
    display: flex;
    margin-top: 70px;
    justify-content: end;
}

.lkt-change__button {
    display: grid;
    place-items: center;
    width: 213px;
    height: 40px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
    color: #FFF;
    border-radius: 25px;
    background: #FF732D;
    box-shadow: 0px 0px 7.3px 2px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.lkt-change__button:hover {
    background-color: #ed5f00;
}

.lkt-change__button:active {
    box-shadow: none;
}

/* Запрос на аннуляцию */
.lkt-annulation {
    margin-top: 38px;
}

.lkt-annulation__main-title {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    color: #F60;
}

.lkt-annulation__content {
    width: 608px;
    margin-top: 8px;
    padding: 15px 20px 50px;

    border: 1px solid #D4D4D4;
    background: #FFF;
}

.lkt-annulation__head {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.lkt-annulation__head > span {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    color: #000;
}

.lkt-annulation__title {
    margin-top: 47px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    color: #000;
}

.lkt-annulation__subtitle {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    color: #000;
}

.lkt-annulation__form {
    margin-top: 46px;
}

.lkt-annulation__num-order {
    height: 19px;
    width: 147px;
}

.lkt-annulation__label-num-order {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: end;
}

.lkt-annulation__text {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1 !important;

    white-space: nowrap;
    text-wrap: nowrap;
}

.lkt-annulation__text-num-order {
    padding-left: 4px;

    border-bottom: 1px solid #000;
}

.lkt-annulation__input {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    border-bottom: 1px solid #000;
}

.lkt-annulation__wr-route-title {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    align-items: end;
    margin-top: 3px;
}

.lkt-annulation__route-name,
.lkt-annulation__route {
    height: 19px;
    padding-left: 4px;

    line-height: 1.7 !important;

    border-bottom: 1px solid #000;
}

.lkt-annulation__route-name {
    grid-column: 2;
    grid-row: 1;

}

.lkt-annulation__route {
    grid-column: 1 / 3;
    grid-row: 2;
}

.lkt-annulation__wr-route-date {
    height: 19px;
    margin-top: 6px;
}

.lkt-annulation__wr-user-name {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: end;
    height: 19px;
    margin-top: 25px;
}

.lkt-annulation__user-name {
    padding-left: 4px;

    border-bottom: 1px solid #000;
}

.lkt-annulation__wr-doc {
    margin-top: 9px;
}

.lkt-annulation__wr-doc-row {
    margin-top: 7px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1 !important;
}

.lkt-annulation__doc-number {
    width: 104px;
    padding-left: 4px;

    border-bottom: 1px solid #000;
}

.lkt-annulation__marks-left,
.lkt-annulation__marks-right {
    display: inline-block;
    width: min-content;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.lkt-annulation__doc-day {
    width: 21px;

    text-align: center;

    border-bottom: 1px solid #000;
}

.lkt-annulation__doc-month {
    width: 76px;

    text-align: center;

    border-bottom: 1px solid #000;
}

.lkt-annulation__doc-year {
    width: 17px;
    
    border-bottom: 1px solid #000;
}

.lkt-annulation__wr-reason {
    margin-top: 24px;
}

.lkt-annulation__reason-text {
    white-space: initial;
    text-wrap: wrap;
}

.lkt-annulation__reason-input {
    width: 100%;
    padding-left: 4px;
}

.lkt-annulation__reason-wr-input {
    display: grid;
    grid-template-columns: min-content 1fr;
    width: 100%;
}

.lkt-annulation__reason-wr-input > span {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.lkt-annulation__reason-annotation {
    margin-top: 5px;
}

.lkt-annulation__wr-request {
    margin-top: 28px;
}

.lkt-annulation__request-text {
    white-space: wrap;
    text-wrap: wrap;
}

.lkt-annulation__wr-email {
    margin-top: 28px;
}

.lkt-annulation__email-label {
    width: 100%;
}

.lkt-annulation__wr-email-text {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-top: 6px;
}

.lkt-annulation__email {
    padding-left: 4px;

    border-bottom: 1px solid #000;
}

.lkt-annulation__wr-phone {
    margin-top: 3px;
}

.lkt-annulation__wr-date-request {
    margin-top: 45px;
}

.lkt-annulation__date {
    width: 89px;

    text-align: center;

    border-bottom: 1px solid #000;
}

.lkt-annulation__wr-registered {
    margin-top: 70px;
}

.lkt-annulation__registered-label {
    margin-top: 25px;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.lkt-annulation__registered-day,
.lkt-annulation__registered-month,
.lkt-annulation__registered-year {
    border-bottom: 1px solid #000;
}

.lkt-annulation__registered-day {
    width: 32px;

    text-align: center;
}

.lkt-annulation__registered-month {
    width: 144px;

    text-align: center;
}

.lkt-annulation__registered-year {

}
/* END CONTENT */



@media(max-width: 1280px) {
    .lkt__main-title {
        font-size: 25px;
    }
}

@media(max-width: 1280px) {
    .lkt__wrapper {
        margin-top: 38px;
        gap: 27px;
    }
}

@media(max-width: 1280px) {
    .lkt__aside {
        width: 302px;
    }
}

@media(max-width: 1280px) {
    .lkt-profile__list {
        width: 234px;
    }   
}

@media(max-width: 1280px) {
    .lkt-question-aside__button {
        width: 253px;
    }
}

@media(max-width: 1280px) {
    .lkt-docs__title {
        width: 253px;
    }
}

@media(max-width: 1280px) {
    .lkt-docs__item {
        width: 253px;
    }
}

@media(max-width: 1280px) {
    .lkt-main {
        width: 756px;
    }
}

@media(max-width: 1280px) {
    .lkt__header-item {
        width: 242px;
    }
}


/* start journeys */
@media(max-width: 1280px) {
    .lkt__journeys-img {
        width: 335px;
    }
}
/* end journeys */

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}

@media(max-width: 1280px) {
    
}