.dialog {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dialog * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
    font-family: initial;
    font-size: initial;
    font-weight: initial;
    text-align: start;
    line-height: initial !important;
    white-space: initial;
    
    list-style-type: none;
    border: initial;
    border-radius: initial;
    outline: initial;
    color: initial;
    background-color: initial;
    box-shadow: initial;
    
    cursor: initial;
    appearance: auto;
}

input:focus, textarea:focus {
    outline: 0;
}

/* -----====== ОПИСАНИЕ =====----- */
/* req-res - для модалок результата запроса */
/* success, fail - конкретный экземпляр модалки */

/* START DIALOG */
.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    
    place-items: center;
    height: 100%;
    width: 100%;

    background: transparent;
    border: 0;
    outline: 0;
}

.dialog:open {
    display: grid;
}

.dialog__window {
    width: 350px;
    min-height: 351px;
    
    border: none;
    border-radius: 10px;
    background: #FFF;
}

.dialog__wr-close {
    display: flex;
    justify-content: flex-end;
}

.dialog__wr-close {
    padding-top: 30px;
    padding-right: 30px;
}

.dialog__close {
    height: 30px;
    width: 30px;

    background: no-repeat url('../i/icon-close.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.dialog__close_orange {
    background: none;

    background-color: #FF732D;
    -webkit-mask-image: url('../i/icon-close.svg');
    mask-image: url('../i/icon-close.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.dialog__content {
    display: none;
    flex-direction: column;
    align-items: center;
}

dialog[data-type="success"] .dialog__content-success {
    display: flex;
}

dialog[data-type="fail"] .dialog__content-fail {
    display: flex;
}

dialog[data-type="conf-email"] .dialog__content-conf-email {
    display: flex;
}

dialog[data-type="sended-data-order"] .dialog__content-sended-data-order {
    display: flex;
}

dialog[data-type="no-email"] .dialog__content-no-email {
    display: flex;
}

.dialog__icon-bear {
    width: 150px;
    height: 150px;

    background: no-repeat url('../i/icon-bear.svg');
    background-size: contain;
    background-position: center;
}

.dialog__text {
    width: 100%;

    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #5A5D62;
}

.dialog__text > p {
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #5A5D62;
}

.dialog__text_bold {
    font-weight: 600; /*когда будут модалки значение подправить, если будет отличаться*/
}
/* END DIALOG */


/* START REQUEST RESULT (req-res) */
.dialog__content-req-res {
    margin-top: 21px;
}

.dialog__icon-req-res {
    width: 111px;
    height: 111px;
    margin: 0 auto;
}

.dialog__icon-success {
    background: no-repeat url('../i/icon-success.svg');
    background-size: contain;
    background-position: center;
}
.dialog__icon-fail {
    background: no-repeat url('../i/icon-attention.svg');
    background-size: contain;
    background-position: center;
}


.dialog__text-req-res {
    margin-top: 36px;
}
/* END REQUEST RESULT (req-res) */

/* START На почту отправлено подтверждение почты */
.dialog__text-conf-email {
    margin-top: 36px;
    padding-bottom: 56px;
}
/* END На почту отправлено подтверждение почты */

/* START данные по заказу переданы */
.dialog__text-sended-data-order {
    margin-top: 29px;
}
/* END данные по заказу переданы */

/* START Пожалуйста, заполните <br> адрес электронный почты. */
.dialog__text-no-email {
    margin-top: 36px;
}
/* END Пожалуйста, заполните <br> адрес электронный почты. */